{
  "openapi": "3.0.4",
  "info": {
    "title": "Segment Public API",
    "description": "The Segment Public API helps you manage your Segment Workspaces and its resources. You can use the API to perform CRUD (create, read, update, delete) operations at no extra charge. This includes working with resources such as Sources, Destinations, Warehouses, Tracking Plans, and the Segment Destinations and Sources Catalogs.\n\nAll CRUD endpoints in the API follow REST conventions and use standard HTTP methods. Different URL endpoints represent different resources in a Workspace.\n\nSee the next sections for more information on how to use the Segment Public API.\n",
    "contact": {
      "name": "Segment",
      "url": "https://docs.segmentapis.com",
      "email": "friends@segment.com"
    },
    "version": "73.2.0",
    "x-logo": {
      "url": "https://assets.twilio.com/public_assets/segment-assets/1.0.0/logos/twilio-segment.webp",
      "backgroundColor": "#ebf4ff",
      "altText": "Twilio Segment logo"
    }
  },
  "servers": [
    {
      "url": "https://api.segmentapis.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/spaces/{spaceId}/audiences/{audienceId}/destination-connections/{connectionId}/activations": {
      "post": {
        "tags": [
          "Activations"
        ],
        "summary": "Add Activation to Audience",
        "description": "Defines how audience data is sent to a Destination. This step enables the data sync. You must establish a connection (Add Destination to Audience) for this audience before an Activation can be created.\n\n\u2022 In order to successfully call this endpoint, the specified Workspace needs to have the Audience feature enabled. Please reach out to your customer success manager for more information.\n\n\nThe rate limit for this endpoint is 50 requests per minute, which is lower than the default due to access pattern restrictions. Once reached, this endpoint will respond with the 429 HTTP status code with headers indicating the limit parameters. See [Rate Limiting](/#tag/Rate-Limits) for more information.",
        "operationId": "AddActivationToAudience",
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "spa_9aQ1Lj62S4bomZKLF4DPqW"
          },
          {
            "name": "audienceId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "aud_0ujsszwN8NRY24YaXiTIE2VWDTS"
          },
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "ii_123456789"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.segment.v1alpha\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/AddActivationToAudienceAlphaInput"
              },
              "example": {
                "activationType": "Audience Entered",
                "activationName": "Test Activation",
                "enabled": true,
                "performResync": true,
                "personalization": {
                  "profile": {
                    "properties": [
                      "mountain_bikers_2023",
                      "game_boy_color_owners"
                    ],
                    "mapping": {
                      "mountain_bikers_2023": "bikers_segment",
                      "game_boy_color_owners": "retro_gamers"
                    }
                  },
                  "entities": [
                    {
                      "properties": [
                        "ID",
                        "LAST_ACTIVITY_TIME",
                        "BALANCE"
                      ],
                      "relationshipSlug": "owned-accounts-copy"
                    }
                  ]
                },
                "destinationMapping": {
                  "actionId": "action_123",
                  "settings": {
                    "webhookUrl": "https://example.com/webhook",
                    "method": "POST"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1alpha\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddActivationToAudience200SegmentV1AlphaJsonResponse"
                },
                "example": {
                  "data": {
                    "activation": {
                      "id": "act_987654321",
                      "enabled": true,
                      "workspaceId": "w_123",
                      "spaceId": "spa_9aQ1Lj62S4bomZKLF4DPqW",
                      "audienceId": "aud_0ujsszwN8NRY24YaXiTIE2VWDTS",
                      "connectionId": "ii_123456789",
                      "activationType": "Audience Entered",
                      "activationName": "Test Activation",
                      "personalization": {
                        "profile": {
                          "properties": []
                        }
                      },
                      "destinationMapping": {
                        "actionId": "action_123"
                      },
                      "performResync": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of whole seconds to wait before retrying. Sent when the request was rejected because the authentication token is rate limited. Prefer this over your own backoff schedule when present.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/spaces/{spaceId}/audiences/{id}/schedules": {
      "post": {
        "tags": [
          "Audiences"
        ],
        "summary": "Add Audience Schedule to Audience",
        "description": "The ability to configure the run schedule for an Audience is limited to Linked Audiences (audienceType = LINKED).\n\nNote that if a Linked Audience remains disabled for 90 days Segment will delete the associated schedule and a new schedule will need to be created.\n\n\u2022 In order to successfully call this endpoint, the specified Workspace needs to have the Audience feature enabled. Please reach out to your customer success manager for more information.\n\n\nThe rate limit for this endpoint is 50 requests per minute, which is lower than the default due to access pattern restrictions. Once reached, this endpoint will respond with the 429 HTTP status code with headers indicating the limit parameters. See [Rate Limiting](/#tag/Rate-Limits) for more information.",
        "operationId": "AddAudienceScheduleToAudience",
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "9aQ1Lj62S4bomZKLF4DPqW"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "aud_0ujsszwN8NRY24YaXiTIE2VWDTS"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAudienceScheduleToAudienceInput"
              },
              "example": {
                "strategy": "SPECIFIC_DAYS",
                "config": {
                  "days": [
                    1,
                    3,
                    5
                  ],
                  "hours": [
                    9,
                    17
                  ],
                  "timezone": "America/New_York"
                }
              }
            },
            "application/vnd.segment.v1\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/AddAudienceScheduleToAudienceInput"
              },
              "example": {
                "strategy": "SPECIFIC_DAYS",
                "config": {
                  "days": [
                    1,
                    3,
                    5
                  ],
                  "hours": [
                    9,
                    17
                  ],
                  "timezone": "America/New_York"
                }
              }
            },
            "application/vnd.segment.v1alpha\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/AddAudienceScheduleToAudienceAlphaInput"
              },
              "example": {
                "strategy": "SPECIFIC_DAYS",
                "config": {
                  "days": [
                    1,
                    3,
                    5
                  ],
                  "hours": [
                    9,
                    17
                  ],
                  "timezone": "America/New_York"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddAudienceScheduleToAudience200SegmentV1JsonResponse"
                },
                "example": {
                  "data": {
                    "audienceSchedule": {
                      "id": "sch_0ujsszwN8NRY24YaXiTIE2VWDTS",
                      "strategy": "SPECIFIC_DAYS",
                      "config": {
                        "days": [
                          1,
                          3,
                          5
                        ],
                        "hours": [
                          9,
                          17
                        ],
                        "timezone": "America/New_York"
                      },
                      "nextExecution": "2006-01-02T15:04:05.000Z"
                    }
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddAudienceScheduleToAudience200Response"
                },
                "example": {
                  "data": {
                    "audienceSchedule": {
                      "id": "sch_0ujsszwN8NRY24YaXiTIE2VWDTS",
                      "strategy": "SPECIFIC_DAYS",
                      "config": {
                        "days": [
                          1,
                          3,
                          5
                        ],
                        "hours": [
                          9,
                          17
                        ],
                        "timezone": "America/New_York"
                      },
                      "nextExecution": "2006-01-02T15:04:05.000Z"
                    }
                  }
                }
              },
              "application/vnd.segment.v1alpha\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddAudienceScheduleToAudience200SegmentV1AlphaJsonResponse"
                },
                "example": {
                  "data": {
                    "audienceSchedule": {
                      "id": "sch_0ujsszwN8NRY24YaXiTIE2VWDTS",
                      "strategy": "SPECIFIC_DAYS",
                      "config": {
                        "days": [
                          1,
                          3,
                          5
                        ],
                        "hours": [
                          9,
                          17
                        ],
                        "timezone": "America/New_York"
                      },
                      "nextExecution": "2006-01-02T15:04:05.000Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of whole seconds to wait before retrying. Sent when the request was rejected because the authentication token is rate limited. Prefer this over your own backoff schedule when present.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Audiences"
        ],
        "summary": "List Audience Schedules from Space And Audience",
        "description": "Returns the list of schedules for the given audience.\n\n\u2022 In order to successfully call this endpoint, the specified Workspace needs to have the Audience feature enabled. Please reach out to your customer success manager for more information.",
        "operationId": "ListAudienceSchedulesFromSpaceAndAudience",
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "9aQ1Lj62S4bomZKLF4DPqW"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "aud_0ujsszwN8NRY24YaXiTIE2VWDTS"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ListAudienceSchedulesFromSpaceAndAudience200SegmentV1JsonResponse"
                },
                "example": {
                  "data": {
                    "audienceSchedules": [
                      {
                        "id": "sch_0ujsszwN8NRY24YaXiTIE2VWDTS",
                        "strategy": "PERIODIC",
                        "config": {
                          "interval": "24h"
                        },
                        "nextExecution": "2006-01-02T15:04:05.000Z"
                      }
                    ]
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAudienceSchedulesFromSpaceAndAudience200Response"
                },
                "example": {
                  "data": {
                    "audienceSchedules": [
                      {
                        "id": "sch_0ujsszwN8NRY24YaXiTIE2VWDTS",
                        "strategy": "PERIODIC",
                        "config": {
                          "interval": "24h"
                        },
                        "nextExecution": "2006-01-02T15:04:05.000Z"
                      }
                    ]
                  }
                }
              },
              "application/vnd.segment.v1alpha\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ListAudienceSchedulesFromSpaceAndAudience200SegmentV1AlphaJsonResponse"
                },
                "example": {
                  "data": {
                    "audienceSchedules": [
                      {
                        "id": "sch_0ujsszwN8NRY24YaXiTIE2VWDTS",
                        "strategy": "PERIODIC",
                        "config": {
                          "interval": "24h"
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of whole seconds to wait before retrying. Sent when the request was rejected because the authentication token is rate limited. Prefer this over your own backoff schedule when present.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/warehouses/{warehouseId}/connected-sources/{sourceId}": {
      "post": {
        "tags": [
          "Warehouses"
        ],
        "summary": "Add Connection from Source to Warehouse",
        "description": "Connects a Source to a Warehouse.\n\n\n\n\u2022 When called, this endpoint may generate the \u0060Storage Destination Modified\u0060 event in the [audit trail](/tag/Audit-Trail).\n      ",
        "operationId": "AddConnectionFromSourceToWarehouse",
        "parameters": [
          {
            "name": "warehouseId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "kjU72LCJexvrqL7G4TMHHN"
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "rh5BDZp6QDHvXFCkibm1pR"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/vnd.segment.v1\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddConnectionFromSourceToWarehouse201SegmentV1JsonResponse"
                },
                "example": {
                  "data": {
                    "status": "CONNECTED"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddConnectionFromSourceToWarehouse201Response"
                },
                "example": {
                  "data": {
                    "status": "CONNECTED"
                  }
                }
              },
              "application/vnd.segment.v1beta\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddConnectionFromSourceToWarehouse201SegmentV1BetaJsonResponse"
                },
                "example": {
                  "data": {
                    "status": "CONNECTED"
                  }
                }
              },
              "application/vnd.segment.v1alpha\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddConnectionFromSourceToWarehouse201SegmentV1AlphaJsonResponse"
                },
                "example": {
                  "data": {
                    "status": "CONNECTED"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of whole seconds to wait before retrying. Sent when the request was rejected because the authentication token is rate limited. Prefer this over your own backoff schedule when present.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Warehouses"
        ],
        "summary": "Remove Source Connection from Warehouse",
        "description": "Disconnects a Source from a Warehouse.",
        "operationId": "RemoveSourceConnectionFromWarehouse",
        "parameters": [
          {
            "name": "warehouseId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "kjU72LCJexvrqL7G4TMHHN"
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "rh5BDZp6QDHvXFCkibm1pR"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveSourceConnectionFromWarehouse200SegmentV1JsonResponse"
                },
                "example": {
                  "data": {
                    "status": "SUCCESS"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveSourceConnectionFromWarehouse200Response"
                },
                "example": {
                  "data": {
                    "status": "SUCCESS"
                  }
                }
              },
              "application/vnd.segment.v1beta\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveSourceConnectionFromWarehouse200SegmentV1BetaJsonResponse"
                },
                "example": {
                  "data": {
                    "status": "SUCCESS"
                  }
                }
              },
              "application/vnd.segment.v1alpha\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveSourceConnectionFromWarehouse200SegmentV1AlphaJsonResponse"
                },
                "example": {
                  "data": {
                    "status": "SUCCESS"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of whole seconds to wait before retrying. Sent when the request was rejected because the authentication token is rate limited. Prefer this over your own backoff schedule when present.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/spaces/{spaceId}/audiences/{audienceId}/destination-connections": {
      "post": {
        "tags": [
          "Activations"
        ],
        "summary": "Add Destination to Audience",
        "description": "Establishes a connection between an audience and a Destination. To start syncing data, you must create an Activation for the connection created here.\n\nNote that the Destination must be added to Engage through the Engage Settings page within the App before creating the connection through the API.\n\n\u2022 In order to successfully call this endpoint, the specified Workspace needs to have the Audience feature enabled. Please reach out to your customer success manager for more information.\n\n\nThe rate limit for this endpoint is 50 requests per minute, which is lower than the default due to access pattern restrictions. Once reached, this endpoint will respond with the 429 HTTP status code with headers indicating the limit parameters. See [Rate Limiting](/#tag/Rate-Limits) for more information.",
        "operationId": "AddDestinationToAudience",
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "spa_9aQ1Lj62S4bomZKLF4DPqW"
          },
          {
            "name": "audienceId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "aud_0ujsszwN8NRY24YaXiTIE2VWDTS"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.segment.v1alpha\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/AddDestinationToAudienceAlphaInput"
              },
              "example": {
                "destination": {
                  "id": "684758860892086596310ac",
                  "type": "destination"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1alpha\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddDestinationToAudience200SegmentV1AlphaJsonResponse"
                },
                "example": {
                  "data": {
                    "connection": {
                      "id": "ii_123456789"
                    },
                    "idSyncConfiguration": []
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of whole seconds to wait before retrying. Sent when the request was rejected because the authentication token is rate limited. Prefer this over your own backoff schedule when present.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Activations"
        ],
        "summary": "List Destinations from Audience",
        "description": "Lists all Destinations from an Audience.\n\n\u2022 In order to successfully call this endpoint, the specified Workspace needs to have the Audience feature enabled. Please reach out to your customer success manager for more information.\n\n\nThe rate limit for this endpoint is 50 requests per minute, which is lower than the default due to access pattern restrictions. Once reached, this endpoint will respond with the 429 HTTP status code with headers indicating the limit parameters. See [Rate Limiting](/#tag/Rate-Limits) for more information.",
        "operationId": "ListDestinationsFromAudience",
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "spa_9aQ1Lj62S4bomZKLF4DPqW"
          },
          {
            "name": "audienceId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "aud_0ujsszwN8NRY24YaXiTIE2VWDTS"
          },
          {
            "name": "pagination",
            "in": "query",
            "description": "Optional pagination.\n\nThis parameter exists in alpha.",
            "schema": {
              "$ref": "#/components/schemas/PaginationInput"
            },
            "example": "pagination.count=2"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1alpha\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ListDestinationsFromAudience200SegmentV1AlphaJsonResponse"
                },
                "example": {
                  "data": {
                    "connections": [
                      {
                        "id": "ii_123456789",
                        "name": "Test Connection 1",
                        "enabled": true,
                        "updatedAt": "2023-01-02T00:00:00Z",
                        "settings": {},
                        "destinationId": "684758860892086596310ac_1",
                        "metadata": {
                          "id": "1234567890abcdef1234567",
                          "name": "Test Destination",
                          "slug": "test-destination"
                        },
                        "idSyncConfiguration": [
                          {
                            "externalId": "email",
                            "strategy": "first"
                          },
                          {
                            "externalId": "phone",
                            "strategy": "all"
                          }
                        ],
                        "sourceId": "proj_123",
                        "createdAt": "2023-01-01T00:00:00Z"
                      },
                      {
                        "id": "ii_another456",
                        "name": "Test Connection 2",
                        "enabled": false,
                        "updatedAt": "2023-01-04T00:00:00Z",
                        "settings": {},
                        "destinationId": "684758860892086596310ac_2",
                        "metadata": {
                          "id": "684758860892086596310ad",
                          "name": "Another Destination",
                          "slug": "another-destination"
                        },
                        "sourceId": "proj_123",
                        "createdAt": "2023-01-03T00:00:00Z"
                      }
                    ],
                    "pagination": {
                      "next": null,
                      "current": "first_page"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of whole seconds to wait before retrying. Sent when the request was rejected because the authentication token is rate limited. Prefer this over your own backoff schedule when present.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/sources/{sourceId}/labels": {
      "post": {
        "tags": [
          "Sources"
        ],
        "summary": "Add Labels to Source",
        "description": "Adds an existing label to a Source.\n\n\n\n\u2022 When called, this endpoint may generate the \u0060Source Modified\u0060 event in the [audit trail](/tag/Audit-Trail).\n      ",
        "operationId": "AddLabelsToSource",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "rh5BDZp6QDHvXFCkibm1pR"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddLabelsToSourceV1Input"
              },
              "example": {
                "labels": [
                  {
                    "key": "type",
                    "value": "web"
                  }
                ]
              }
            },
            "application/vnd.segment.v1\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/AddLabelsToSourceV1Input"
              },
              "example": {
                "labels": [
                  {
                    "key": "type",
                    "value": "web"
                  }
                ]
              }
            },
            "application/vnd.segment.v1beta\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/AddLabelsToSourceV1Input"
              },
              "example": {
                "labels": [
                  {
                    "key": "type",
                    "value": "web"
                  }
                ]
              }
            },
            "application/vnd.segment.v1alpha\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/AddLabelsToSourceAlphaInput"
              },
              "example": {
                "labels": [
                  {
                    "key": "type",
                    "value": "web"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddLabelsToSource200SegmentV1JsonResponse"
                },
                "example": {
                  "data": {
                    "labels": [
                      {
                        "key": "type",
                        "value": "web"
                      },
                      {
                        "key": "environment",
                        "value": "prod"
                      }
                    ]
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddLabelsToSource200Response"
                },
                "example": {
                  "data": {
                    "labels": [
                      {
                        "key": "type",
                        "value": "web"
                      },
                      {
                        "key": "environment",
                        "value": "prod"
                      }
                    ]
                  }
                }
              },
              "application/vnd.segment.v1beta\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddLabelsToSource200SegmentV1BetaJsonResponse"
                },
                "example": {
                  "data": {
                    "labels": [
                      {
                        "key": "type",
                        "value": "web"
                      },
                      {
                        "key": "environment",
                        "value": "prod"
                      }
                    ]
                  }
                }
              },
              "application/vnd.segment.v1alpha\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddLabelsToSource200SegmentV1AlphaJsonResponse"
                },
                "example": {
                  "data": {
                    "labels": [
                      {
                        "key": "type",
                        "value": "web"
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of whole seconds to wait before retrying. Sent when the request was rejected because the authentication token is rate limited. Prefer this over your own backoff schedule when present.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Sources"
        ],
        "summary": "Replace Labels in Source",
        "description": "Replaces all labels in a Source.",
        "operationId": "ReplaceLabelsInSource",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "rh5BDZp6QDHvXFCkibm1pR"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceLabelsInSourceV1Input"
              },
              "example": {
                "labels": [
                  {
                    "key": "environment",
                    "value": "prod"
                  }
                ]
              }
            },
            "application/vnd.segment.v1\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceLabelsInSourceV1Input"
              },
              "example": {
                "labels": [
                  {
                    "key": "environment",
                    "value": "prod"
                  }
                ]
              }
            },
            "application/vnd.segment.v1beta\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceLabelsInSourceV1Input"
              },
              "example": {
                "labels": [
                  {
                    "key": "environment",
                    "value": "prod"
                  }
                ]
              }
            },
            "application/vnd.segment.v1alpha\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceLabelsInSourceAlphaInput"
              },
              "example": {
                "labels": [
                  {
                    "key": "environment",
                    "value": "prod"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceLabelsInSource200SegmentV1JsonResponse"
                },
                "example": {
                  "data": {
                    "labels": [
                      {
                        "key": "environment",
                        "value": "prod"
                      }
                    ]
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceLabelsInSource200Response"
                },
                "example": {
                  "data": {
                    "labels": [
                      {
                        "key": "environment",
                        "value": "prod"
                      }
                    ]
                  }
                }
              },
              "application/vnd.segment.v1beta\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceLabelsInSource200SegmentV1BetaJsonResponse"
                },
                "example": {
                  "data": {
                    "labels": [
                      {
                        "key": "environment",
                        "value": "prod"
                      }
                    ]
                  }
                }
              },
              "application/vnd.segment.v1alpha\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceLabelsInSource200SegmentV1AlphaJsonResponse"
                },
                "example": {
                  "data": {
                    "labels": [
                      {
                        "key": "environment",
                        "value": "prod"
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of whole seconds to wait before retrying. Sent when the request was rejected because the authentication token is rate limited. Prefer this over your own backoff schedule when present.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}/permissions": {
      "post": {
        "tags": [
          "IAM Users"
        ],
        "summary": "Add Permissions to User",
        "description": "Adds a list of access permissions to a user.\n\n\n\n\u2022 When called, this endpoint may generate one or more of the following [audit trail](/tag/Audit-Trail) events:* Policy Created\n* User Policy Updated\n      \n\n\nThe rate limit for this endpoint is 60 requests per minute, which is lower than the default due to access pattern restrictions. Once reached, this endpoint will respond with the 429 HTTP status code with headers indicating the limit parameters. See [Rate Limiting](/#tag/Rate-Limits) for more information.",
        "operationId": "AddPermissionsToUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "sgJDWk3K21k6LE3tLU9nRK"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddPermissionsToUserV1Input"
              },
              "example": {
                "permissions": [
                  {
                    "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                    "resources": [
                      {
                        "id": "9aQ1Lj62S4bomZKLF4DPqW",
                        "type": "WORKSPACE"
                      }
                    ]
                  }
                ]
              }
            },
            "application/vnd.segment.v1\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/AddPermissionsToUserV1Input"
              },
              "example": {
                "permissions": [
                  {
                    "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                    "resources": [
                      {
                        "id": "9aQ1Lj62S4bomZKLF4DPqW",
                        "type": "WORKSPACE"
                      }
                    ]
                  }
                ]
              }
            },
            "application/vnd.segment.v1beta\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/AddPermissionsToUserV1Input"
              },
              "example": {
                "permissions": [
                  {
                    "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                    "resources": [
                      {
                        "id": "9aQ1Lj62S4bomZKLF4DPqW",
                        "type": "WORKSPACE"
                      }
                    ]
                  }
                ]
              }
            },
            "application/vnd.segment.v1alpha\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/AddPermissionsToUserV1Input"
              },
              "example": {
                "permissions": [
                  {
                    "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                    "resources": [
                      {
                        "id": "9aQ1Lj62S4bomZKLF4DPqW",
                        "type": "WORKSPACE"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddPermissionsToUser200SegmentV1JsonResponse"
                },
                "example": {
                  "data": {
                    "permissions": [
                      {
                        "policyId": "2c0vbJcxowv7x1gyOp45ObHFqoQ",
                        "roleName": "Workspace Owner",
                        "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                        "subjectId": "sgJDWk3K21k6LE3tLU9nRK",
                        "subjectType": "user",
                        "resources": [
                          {
                            "id": "9aQ1Lj62S4bomZKLF4DPqW",
                            "type": "WORKSPACE",
                            "labels": []
                          }
                        ]
                      }
                    ]
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddPermissionsToUser200Response"
                },
                "example": {
                  "data": {
                    "permissions": [
                      {
                        "policyId": "2c0vbJcxowv7x1gyOp45ObHFqoQ",
                        "roleName": "Workspace Owner",
                        "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                        "subjectId": "sgJDWk3K21k6LE3tLU9nRK",
                        "subjectType": "user",
                        "resources": [
                          {
                            "id": "9aQ1Lj62S4bomZKLF4DPqW",
                            "type": "WORKSPACE",
                            "labels": []
                          }
                        ]
                      }
                    ]
                  }
                }
              },
              "application/vnd.segment.v1beta\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddPermissionsToUser200SegmentV1BetaJsonResponse"
                },
                "example": {
                  "data": {
                    "permissions": [
                      {
                        "policyId": "2c0vZssGHwzBpVGk7KrMu5TDlAI",
                        "roleName": "Workspace Owner",
                        "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                        "subjectId": "sgJDWk3K21k6LE3tLU9nRK",
                        "subjectType": "user",
                        "resources": [
                          {
                            "id": "9aQ1Lj62S4bomZKLF4DPqW",
                            "type": "WORKSPACE",
                            "labels": []
                          }
                        ]
                      }
                    ]
                  }
                }
              },
              "application/vnd.segment.v1alpha\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddPermissionsToUser200SegmentV1AlphaJsonResponse"
                },
                "example": {
                  "data": {
                    "permissions": [
                      {
                        "policyId": "55P3eB1tNooNfXyitxYC9C",
                        "roleName": "Workspace Owner",
                        "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                        "subjectId": "sgJDWk3K21k6LE3tLU9nRK",
                        "subjectType": "user",
                        "resources": [
                          {
                            "id": "9aQ1Lj62S4bomZKLF4DPqW",
                            "type": "WORKSPACE",
                            "labels": []
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of whole seconds to wait before retrying. Sent when the request was rejected because the authentication token is rate limited. Prefer this over your own backoff schedule when present.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "IAM Users"
        ],
        "summary": "Replace Permissions for User",
        "description": "Updates the list of access permissions for a user.\n\n\n\n\u2022 When called, this endpoint may generate the \u0060Policy Deleted\u0060 event in the [audit trail](/tag/Audit-Trail).\n      \n\n\nThe rate limit for this endpoint is 60 requests per minute, which is lower than the default due to access pattern restrictions. Once reached, this endpoint will respond with the 429 HTTP status code with headers indicating the limit parameters. See [Rate Limiting](/#tag/Rate-Limits) for more information.",
        "operationId": "ReplacePermissionsForUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "sgJDWk3K21k6LE3tLU9nRK"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplacePermissionsForUserV1Input"
              },
              "example": {
                "permissions": [
                  {
                    "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                    "resources": [
                      {
                        "id": "9aQ1Lj62S4bomZKLF4DPqW",
                        "type": "WORKSPACE"
                      }
                    ]
                  }
                ]
              }
            },
            "application/vnd.segment.v1\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/ReplacePermissionsForUserV1Input"
              },
              "example": {
                "permissions": [
                  {
                    "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                    "resources": [
                      {
                        "id": "9aQ1Lj62S4bomZKLF4DPqW",
                        "type": "WORKSPACE"
                      }
                    ]
                  }
                ]
              }
            },
            "application/vnd.segment.v1beta\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/ReplacePermissionsForUserV1Input"
              },
              "example": {
                "permissions": [
                  {
                    "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                    "resources": [
                      {
                        "id": "9aQ1Lj62S4bomZKLF4DPqW",
                        "type": "WORKSPACE"
                      }
                    ]
                  }
                ]
              }
            },
            "application/vnd.segment.v1alpha\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/ReplacePermissionsForUserV1Input"
              },
              "example": {
                "permissions": [
                  {
                    "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                    "resources": [
                      {
                        "id": "9aQ1Lj62S4bomZKLF4DPqW",
                        "type": "WORKSPACE"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ReplacePermissionsForUser200SegmentV1JsonResponse"
                },
                "example": {
                  "data": {
                    "permissions": [
                      {
                        "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                        "roleName": "Workspace Owner",
                        "resources": [
                          {
                            "id": "9aQ1Lj62S4bomZKLF4DPqW",
                            "type": "WORKSPACE",
                            "labels": []
                          }
                        ]
                      }
                    ]
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplacePermissionsForUser200Response"
                },
                "example": {
                  "data": {
                    "permissions": [
                      {
                        "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                        "roleName": "Workspace Owner",
                        "resources": [
                          {
                            "id": "9aQ1Lj62S4bomZKLF4DPqW",
                            "type": "WORKSPACE",
                            "labels": []
                          }
                        ]
                      }
                    ]
                  }
                }
              },
              "application/vnd.segment.v1beta\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ReplacePermissionsForUser200SegmentV1BetaJsonResponse"
                },
                "example": {
                  "data": {
                    "permissions": [
                      {
                        "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                        "roleName": "Workspace Owner",
                        "resources": [
                          {
                            "id": "9aQ1Lj62S4bomZKLF4DPqW",
                            "type": "WORKSPACE",
                            "labels": []
                          }
                        ]
                      }
                    ]
                  }
                }
              },
              "application/vnd.segment.v1alpha\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ReplacePermissionsForUser200SegmentV1AlphaJsonResponse"
                },
                "example": {
                  "data": {
                    "permissions": [
                      {
                        "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                        "roleName": "Workspace Owner",
                        "resources": [
                          {
                            "id": "9aQ1Lj62S4bomZKLF4DPqW",
                            "type": "WORKSPACE",
                            "labels": []
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of whole seconds to wait before retrying. Sent when the request was rejected because the authentication token is rate limited. Prefer this over your own backoff schedule when present.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/groups/{userGroupId}/permissions": {
      "post": {
        "tags": [
          "IAM Groups"
        ],
        "summary": "Add Permissions to User Group",
        "description": "Adds a list of access permissions to a user group.\n\n\n\n\u2022 When called, this endpoint may generate one or more of the following [audit trail](/tag/Audit-Trail) events:* Policy Created\n* User Group Policy Updated\n      \n\n\nThe rate limit for this endpoint is 60 requests per minute, which is lower than the default due to access pattern restrictions. Once reached, this endpoint will respond with the 429 HTTP status code with headers indicating the limit parameters. See [Rate Limiting](/#tag/Rate-Limits) for more information.",
        "operationId": "AddPermissionsToUserGroup",
        "parameters": [
          {
            "name": "userGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "bBABwqbaDf2QdwTbW8bNEm"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddPermissionsToUserGroupV1Input"
              },
              "example": {
                "permissions": [
                  {
                    "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                    "resources": [
                      {
                        "id": "9aQ1Lj62S4bomZKLF4DPqW",
                        "type": "WORKSPACE"
                      }
                    ]
                  }
                ]
              }
            },
            "application/vnd.segment.v1\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/AddPermissionsToUserGroupV1Input"
              },
              "example": {
                "permissions": [
                  {
                    "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                    "resources": [
                      {
                        "id": "9aQ1Lj62S4bomZKLF4DPqW",
                        "type": "WORKSPACE"
                      }
                    ]
                  }
                ]
              }
            },
            "application/vnd.segment.v1beta\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/AddPermissionsToUserGroupV1Input"
              },
              "example": {
                "permissions": [
                  {
                    "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                    "resources": [
                      {
                        "id": "9aQ1Lj62S4bomZKLF4DPqW",
                        "type": "WORKSPACE"
                      }
                    ]
                  }
                ]
              }
            },
            "application/vnd.segment.v1alpha\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/AddPermissionsToUserGroupV1Input"
              },
              "example": {
                "permissions": [
                  {
                    "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                    "resources": [
                      {
                        "id": "9aQ1Lj62S4bomZKLF4DPqW",
                        "type": "WORKSPACE"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddPermissionsToUserGroup200SegmentV1JsonResponse"
                },
                "example": {
                  "data": {
                    "permissions": [
                      {
                        "policyId": "2c0vcbHoTzptxMbf7CMQTfNBkPt",
                        "roleName": "Workspace Owner",
                        "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                        "subjectId": "bBABwqbaDf2QdwTbW8bNEm",
                        "subjectType": "group",
                        "resources": [
                          {
                            "id": "9aQ1Lj62S4bomZKLF4DPqW",
                            "type": "WORKSPACE",
                            "labels": []
                          }
                        ]
                      }
                    ]
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddPermissionsToUserGroup200Response"
                },
                "example": {
                  "data": {
                    "permissions": [
                      {
                        "policyId": "2c0vcbHoTzptxMbf7CMQTfNBkPt",
                        "roleName": "Workspace Owner",
                        "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                        "subjectId": "bBABwqbaDf2QdwTbW8bNEm",
                        "subjectType": "group",
                        "resources": [
                          {
                            "id": "9aQ1Lj62S4bomZKLF4DPqW",
                            "type": "WORKSPACE",
                            "labels": []
                          }
                        ]
                      }
                    ]
                  }
                }
              },
              "application/vnd.segment.v1beta\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddPermissionsToUserGroup200SegmentV1BetaJsonResponse"
                },
                "example": {
                  "data": {
                    "permissions": [
                      {
                        "policyId": "2c0vbVFc3U3GCgw9X7P6obb69Ti",
                        "roleName": "Workspace Owner",
                        "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                        "subjectId": "bBABwqbaDf2QdwTbW8bNEm",
                        "subjectType": "group",
                        "resources": [
                          {
                            "id": "9aQ1Lj62S4bomZKLF4DPqW",
                            "type": "WORKSPACE",
                            "labels": []
                          }
                        ]
                      }
                    ]
                  }
                }
              },
              "application/vnd.segment.v1alpha\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddPermissionsToUserGroup200SegmentV1AlphaJsonResponse"
                },
                "example": {
                  "data": {
                    "permissions": [
                      {
                        "policyId": "2c0vZxFj88N9xHW8Qb2BY5OpL4f",
                        "roleName": "Workspace Owner",
                        "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                        "subjectId": "bBABwqbaDf2QdwTbW8bNEm",
                        "subjectType": "group",
                        "resources": [
                          {
                            "id": "9aQ1Lj62S4bomZKLF4DPqW",
                            "type": "WORKSPACE",
                            "labels": []
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of whole seconds to wait before retrying. Sent when the request was rejected because the authentication token is rate limited. Prefer this over your own backoff schedule when present.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "IAM Groups"
        ],
        "summary": "Replace Permissions for User Group",
        "description": "Updates the list of access permissions for a user group.\n\n\n\n\u2022 When called, this endpoint may generate the \u0060Policy Deleted\u0060 event in the [audit trail](/tag/Audit-Trail).\n      \n\n\nThe rate limit for this endpoint is 60 requests per minute, which is lower than the default due to access pattern restrictions. Once reached, this endpoint will respond with the 429 HTTP status code with headers indicating the limit parameters. See [Rate Limiting](/#tag/Rate-Limits) for more information.",
        "operationId": "ReplacePermissionsForUserGroup",
        "parameters": [
          {
            "name": "userGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "bBABwqbaDf2QdwTbW8bNEm"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplacePermissionsForUserGroupV1Input"
              },
              "example": {
                "permissions": [
                  {
                    "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                    "resources": [
                      {
                        "id": "9aQ1Lj62S4bomZKLF4DPqW",
                        "type": "WORKSPACE"
                      }
                    ]
                  }
                ]
              }
            },
            "application/vnd.segment.v1\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/ReplacePermissionsForUserGroupV1Input"
              },
              "example": {
                "permissions": [
                  {
                    "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                    "resources": [
                      {
                        "id": "9aQ1Lj62S4bomZKLF4DPqW",
                        "type": "WORKSPACE"
                      }
                    ]
                  }
                ]
              }
            },
            "application/vnd.segment.v1beta\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/ReplacePermissionsForUserGroupV1Input"
              },
              "example": {
                "permissions": [
                  {
                    "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                    "resources": [
                      {
                        "id": "9aQ1Lj62S4bomZKLF4DPqW",
                        "type": "WORKSPACE"
                      }
                    ]
                  }
                ]
              }
            },
            "application/vnd.segment.v1alpha\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/ReplacePermissionsForUserGroupV1Input"
              },
              "example": {
                "permissions": [
                  {
                    "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                    "resources": [
                      {
                        "id": "9aQ1Lj62S4bomZKLF4DPqW",
                        "type": "WORKSPACE"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ReplacePermissionsForUserGroup200SegmentV1JsonResponse"
                },
                "example": {
                  "data": {
                    "permissions": [
                      {
                        "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                        "roleName": "Workspace Owner",
                        "resources": [
                          {
                            "id": "9aQ1Lj62S4bomZKLF4DPqW",
                            "type": "WORKSPACE",
                            "labels": []
                          }
                        ]
                      }
                    ]
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplacePermissionsForUserGroup200Response"
                },
                "example": {
                  "data": {
                    "permissions": [
                      {
                        "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                        "roleName": "Workspace Owner",
                        "resources": [
                          {
                            "id": "9aQ1Lj62S4bomZKLF4DPqW",
                            "type": "WORKSPACE",
                            "labels": []
                          }
                        ]
                      }
                    ]
                  }
                }
              },
              "application/vnd.segment.v1beta\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ReplacePermissionsForUserGroup200SegmentV1BetaJsonResponse"
                },
                "example": {
                  "data": {
                    "permissions": [
                      {
                        "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                        "roleName": "Workspace Owner",
                        "resources": [
                          {
                            "id": "9aQ1Lj62S4bomZKLF4DPqW",
                            "type": "WORKSPACE",
                            "labels": []
                          }
                        ]
                      }
                    ]
                  }
                }
              },
              "application/vnd.segment.v1alpha\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ReplacePermissionsForUserGroup200SegmentV1AlphaJsonResponse"
                },
                "example": {
                  "data": {
                    "permissions": [
                      {
                        "roleId": "1WDUuRLxv84rrfCNUwvkrRtkxnS",
                        "roleName": "Workspace Owner",
                        "resources": [
                          {
                            "id": "9aQ1Lj62S4bomZKLF4DPqW",
                            "type": "WORKSPACE",
                            "labels": []
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of whole seconds to wait before retrying. Sent when the request was rejected because the authentication token is rate limited. Prefer this over your own backoff schedule when present.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/tracking-plans/{trackingPlanId}/sources": {
      "post": {
        "tags": [
          "Tracking Plans"
        ],
        "summary": "Add Source to Tracking Plan",
        "description": "Connects a Source to a Tracking Plan.\n\n\n\n\u2022 When called, this endpoint may generate the \u0060Source Modified\u0060 event in the [audit trail](/tag/Audit-Trail).\n\n\n\u2022 In order to successfully call this endpoint, the specified Workspace needs to have the Protocols feature enabled. Please reach out to your customer success manager for more information.",
        "operationId": "AddSourceToTrackingPlan",
        "parameters": [
          {
            "name": "trackingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "tp_sprout_rVGCC6WdrNxjCf6JpCHP"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSourceToTrackingPlanV1Input"
              },
              "example": {
                "sourceId": "qQEHquLrjRDN9j1ByrChyn"
              }
            },
            "application/vnd.segment.v1\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/AddSourceToTrackingPlanV1Input"
              },
              "example": {
                "sourceId": "qQEHquLrjRDN9j1ByrChyn"
              }
            },
            "application/vnd.segment.v1beta\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/AddSourceToTrackingPlanV1Input"
              },
              "example": {
                "sourceId": "qQEHquLrjRDN9j1ByrChyn"
              }
            },
            "application/vnd.segment.v1alpha\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/AddSourceToTrackingPlanV1Input"
              },
              "example": {
                "sourceId": "qQEHquLrjRDN9j1ByrChyn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddSourceToTrackingPlan200SegmentV1JsonResponse"
                },
                "example": {
                  "data": {
                    "status": "SUCCESS"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddSourceToTrackingPlan200Response"
                },
                "example": {
                  "data": {
                    "status": "SUCCESS"
                  }
                }
              },
              "application/vnd.segment.v1beta\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddSourceToTrackingPlan200SegmentV1BetaJsonResponse"
                },
                "example": {
                  "data": {
                    "status": "SUCCESS"
                  }
                }
              },
              "application/vnd.segment.v1alpha\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddSourceToTrackingPlan200SegmentV1AlphaJsonResponse"
                },
                "example": {
                  "data": {
                    "status": "SUCCESS"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of whole seconds to wait before retrying. Sent when the request was rejected because the authentication token is rate limited. Prefer this over your own backoff schedule when present.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Tracking Plans"
        ],
        "summary": "List Sources from Tracking Plan",
        "description": "Lists Sources connected to a Tracking Plan.\n\n\n\n\u2022 In order to successfully call this endpoint, the specified Workspace needs to have the Protocols feature enabled. Please reach out to your customer success manager for more information.\n\n\nThis endpoint requires the user to have at least the following permission(s): \n * Source Read-only\n * Tracking Plan Read-only",
        "operationId": "ListSourcesFromTrackingPlan",
        "parameters": [
          {
            "name": "trackingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "tp_sprout_rVGCC6WdrNxjCf6JpCHP"
          },
          {
            "name": "pagination",
            "in": "query",
            "description": "Pagination options.\n\nThis parameter exists in v1.",
            "schema": {
              "$ref": "#/components/schemas/PaginationInput"
            },
            "example": "pagination.count=2"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ListSourcesFromTrackingPlan200SegmentV1JsonResponse"
                },
                "example": {
                  "data": {
                    "sources": [
                      {
                        "id": "qQEHquLrjRDN9j1ByrChyn",
                        "slug": "swift",
                        "name": "",
                        "workspaceId": "9aQ1Lj62S4bomZKLF4DPqW",
                        "enabled": true,
                        "writeKeys": [
                          "bEj5MzDqCkHYRqreZgbPuH"
                        ],
                        "metadata": {
[...]
