{
  "openapi": "3.0.4",
  "info": {
    "title": "Segment Public API",
    "description": "The Segment Public API helps you manage your Segment Workspaces and its resources. You can use the API to perform CRUD (create, read, update, delete) operations at no extra charge. This includes working with resources such as Sources, Destinations, Warehouses, Tracking Plans, and the Segment Destinations and Sources Catalogs.\n\nAll CRUD endpoints in the API follow REST conventions and use standard HTTP methods. Different URL endpoints represent different resources in a Workspace.\n\nSee the next sections for more information on how to use the Segment Public API.\n",
    "contact": {
      "name": "Segment",
      "url": "https://docs.segmentapis.com",
      "email": "friends@segment.com"
    },
    "version": "73.4.0",
    "x-logo": {
      "url": "https://assets.twilio.com/public_assets/segment-assets/1.0.0/logos/twilio-segment.webp",
      "backgroundColor": "#ebf4ff",
      "altText": "Twilio Segment logo"
    }
  },
  "servers": [
    {
      "url": "https://api.segmentapis.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/spaces/{spaceId}/audiences/{audienceId}/destination-connections/{connectionId}/activations": {
      "post": {
        "tags": [
          "Activations"
        ],
        "summary": "Add Activation to Audience",
        "description": "Defines how audience data is sent to a Destination. This step enables the data sync. You must establish a connection (Add Destination to Audience) for this audience before an Activation can be created.\n\n\u2022 In order to successfully call this endpoint, the specified Workspace needs to have the Audience feature enabled. Please reach out to your customer success manager for more information.\n\n\nThe rate limit for this endpoint is 50 requests per minute, which is lower than the default due to access pattern restrictions. Once reached, this endpoint will respond with the 429 HTTP status code with headers indicating the limit parameters. See [Rate Limiting](/#tag/Rate-Limits) for more information.",
        "operationId": "AddActivationToAudience",
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "spa_9aQ1Lj62S4bomZKLF4DPqW"
          },
          {
            "name": "audienceId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "aud_0ujsszwN8NRY24YaXiTIE2VWDTS"
          },
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "ii_123456789"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.segment.v1alpha\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/AddActivationToAudienceAlphaInput"
              },
              "example": {
                "activationType": "Audience Entered",
                "activationName": "Test Activation",
                "enabled": true,
                "performResync": true,
                "personalization": {
                  "profile": {
                    "properties": [
                      "mountain_bikers_2023",
                      "game_boy_color_owners"
                    ],
                    "mapping": {
                      "mountain_bikers_2023": "bikers_segment",
                      "game_boy_color_owners": "retro_gamers"
                    }
                  },
                  "entities": [
                    {
                      "properties": [
                        "ID",
                        "LAST_ACTIVITY_TIME",
                        "BALANCE"
                      ],
                      "relationshipSlug": "owned-accounts-copy"
                    }
                  ]
                },
                "destinationMapping": {
                  "actionId": "action_123",
                  "settings": {
                    "webhookUrl": "https://example.com/webhook",
                    "method": "POST"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1alpha\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddActivationToAudience200SegmentV1AlphaJsonResponse"
                },
                "example": {
                  "data": {
                    "activation": {
                      "id": "act_987654321",
                      "enabled": true,
                      "workspaceId": "w_123",
                      "spaceId": "spa_9aQ1Lj62S4bomZKLF4DPqW",
                      "audienceId": "aud_0ujsszwN8NRY24YaXiTIE2VWDTS",
                      "connectionId": "ii_123456789",
                      "activationType": "Audience Entered",
                      "activationName": "Test Activation",
                      "personalization": {
                        "profile": {
                          "properties": []
                        }
                      },
                      "destinationMapping": {
                        "actionId": "action_123"
                      },
                      "performResync": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of whole seconds to wait before retrying. Sent when the request was rejected because the authentication token is rate limited. Prefer this over your own backoff schedule when present.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-domain-hierarchy": [
          "Engage",
          "Audiences",
          "Activations"
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "import { configureApis, unwrap } from \u0027@segment/public-api-sdk-typescript\u0027\n\nconst api = configureApis(\u0027/* Insert your Public API token here */\u0027)\n\ntry {\n  const result = await unwrap(\n    api.activations.addActivationToAudience(\u0027spa_9aQ1Lj62S4bomZKLF4DPqW\u0027, \u0027aud_0ujsszwN8NRY24YaXiTIE2VWDTS\u0027, \u0027ii_123456789\u0027, {\n      activationType: \u0027Audience Entered\u0027,\n      activationName: \u0027Test Activation\u0027,\n      enabled: true,\n      performResync: true,\n      personalization: {\n        profile: {\n          properties: [\u0027mountain_bikers_2023\u0027, \u0027game_boy_color_owners\u0027],\n          mapping: { mountain_bikers_2023: \u0027bikers_segment\u0027, game_boy_color_owners: \u0027retro_gamers\u0027 },\n        },\n        entities: [{ properties: [\u0027ID\u0027, \u0027LAST_ACTIVITY_TIME\u0027, \u0027BALANCE\u0027], relationshipSlug: \u0027owned-accounts-copy\u0027 }],\n      },\n      destinationMapping: { actionId: \u0027action_123\u0027, settings: { webhookUrl: \u0027https://example.com/webhook\u0027, method: \u0027POST\u0027 } },\n    })\n  )\n  console.log(JSON.stringify(result))\n} catch (e) {\n  console.log(\u0027ERROR:\u0027, e)\n}\n"
          },
          {
            "lang": "Java",
            "source": "// Import classes:\nimport com.segment.publicapi.ApiClient;\nimport com.segment.publicapi.ApiException;\nimport com.segment.publicapi.Configuration;\nimport com.segment.publicapi.auth.*;\nimport com.segment.publicapi.models.*;\nimport com.segment.publicapi.api.ActivationsApi;\n\npublic class Example {\n    public static void main(String[] args) {\n        ApiClient defaultClient = Configuration.getDefaultApiClient();\n        \n        // Configure HTTP bearer authorization: token\n        HttpBearerAuth token = (HttpBearerAuth) defaultClient.getAuthentication(\u0022token\u0022);\n        token.setBearerToken(\u0022BEARER TOKEN\u0022);\n\n        ActivationsApi apiInstance = new ActivationsApi(defaultClient);\n        String spaceId = \u0022spa_9aQ1Lj62S4bomZKLF4DPqW\u0022; // String | \n        String audienceId = \u0022aud_0ujsszwN8NRY24YaXiTIE2VWDTS\u0022; // String | \n        String connectionId = \u0022ii_123456789\u0022; // String | \n        AddActivationToAudienceAlphaInput addActivationToAudienceAlphaInput = new AddActivationToAudienceAlphaInput(); // AddActivationToAudienceAlphaInput | \n        try {\n            AddActivationToAudience200Response result = apiInstance.addActivationToAudience(spaceId, audienceId, connectionId, addActivationToAudienceAlphaInput);\n            System.out.println(result);\n        } catch (ApiException e) {\n            System.err.println(\u0022Exception when calling ActivationsApi#addActivationToAudience\u0022);\n            System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n            System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n            System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n            e.printStackTrace();\n        }\n    }\n}"
          },
          {
            "lang": "Python",
            "source": "import time\nimport os\nimport segment_public_api\nfrom segment_public_api.models.add_activation_to_audience200_response import AddActivationToAudience200Response\nfrom segment_public_api.models.add_activation_to_audience_alpha_input import AddActivationToAudienceAlphaInput\nfrom segment_public_api.rest import ApiException\nfrom pprint import pprint\n\n\n\n# Configure Bearer authorization: token\nconfiguration = segment_public_api.Configuration(\n    access_token = os.environ[\u0022BEARER_TOKEN\u0022]\n)\n# Enter a context with an instance of the API client\nwith segment_public_api.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = segment_public_api.ActivationsApi(api_client)\n    space_id = \u0027spa_9aQ1Lj62S4bomZKLF4DPqW\u0027 # str | \n    audience_id = \u0027aud_0ujsszwN8NRY24YaXiTIE2VWDTS\u0027 # str | \n    connection_id = \u0027ii_123456789\u0027 # str | \n    add_activation_to_audience_alpha_input = {\u0022activationType\u0022:\u0022Audience Entered\u0022,\u0022activationName\u0022:\u0022Test Activation\u0022,\u0022enabled\u0022:true,\u0022performResync\u0022:true,\u0022personalization\u0022:{\u0022profile\u0022:{\u0022properties\u0022:[\u0022mountain_bikers_2023\u0022,\u0022game_boy_color_owners\u0022],\u0022mapping\u0022:{\u0022mountain_bikers_2023\u0022:\u0022bikers_segment\u0022,\u0022game_boy_color_owners\u0022:\u0022retro_gamers\u0022}},\u0022entities\u0022:[{\u0022properties\u0022:[\u0022ID\u0022,\u0022LAST_ACTIVITY_TIME\u0022,\u0022BALANCE\u0022],\u0022relationshipSlug\u0022:\u0022owned-accounts-copy\u0022}]},\u0022destinationMapping\u0022:{\u0022actionId\u0022:\u0022action_123\u0022,\u0022settings\u0022:{\u0022webhookUrl\u0022:\u0022https://example.com/webhook\u0022,\u0022method\u0022:\u0022POST\u0022}}} # AddActivationToAudienceAlphaInput | \n\n    try:\n        # Add Activation to Audience\n        api_response = api_instance.add_activation_to_audience(space_id, audience_id, connection_id, add_activation_to_audience_alpha_input)\n        print(\u0022The response of ActivationsApi-\u003Eadd_activation_to_audience:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling ActivationsApi-\u003Eadd_activation_to_audience: %s\\n\u0022 % e)"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n    \u0022context\u0022\n    \u0022fmt\u0022\n    \u0022os\u0022\n    api \u0022github.com/segmentio/public-api-sdk-go\u0022\n)\n\nfunc main() {\n    spaceId := \u0022spa_9aQ1Lj62S4bomZKLF4DPqW\u0022 // string | \n    audienceId := \u0022aud_0ujsszwN8NRY24YaXiTIE2VWDTS\u0022 // string | \n    connectionId := \u0022ii_123456789\u0022 // string | \n    addActivationToAudienceAlphaInput := *api.NewAddActivationToAudienceAlphaInput(false, \u0022ActivationType_example\u0022, \u0022ActivationName_example\u0022) // AddActivationToAudienceAlphaInput | \n\n    configuration := api.NewConfiguration()\n    apiClient := api.NewAPIClient(configuration)\n    token := \u0022\u003CBEARER_TOKEN\u003E\u0022\n    ctx := context.WithValue(context.Background(), api.ContextAccessToken, token)\n    resp, r, err := apiClient.ActivationsAPI.AddActivationToAudience(ctx, spaceId, audienceId, connectionId).AddActivationToAudienceAlphaInput(addActivationToAudienceAlphaInput).Execute()\n    if err != nil {\n        fmt.Fprintf(os.Stderr, \u0022Error when calling \u0060ActivationsAPI.AddActivationToAudience\u0060\u0060: %v\\n\u0022, err)\n        fmt.Fprintf(os.Stderr, \u0022Full HTTP response: %v\\n\u0022, r)\n        responseErrors := api.UnwrapFullErrors(err)\n        if responseErrors != nil {\n            for _, responseError := range responseErrors.Errors {\n                fmt.Fprintf(os.Stderr, \u0022Full error message: %v\\n\u0022, *responseError.Message)\n            }\n        }\n    }\n    // response from \u0060AddActivationToAudience\u0060: AddActivationToAudience200Response\n    fmt.Fprintf(os.Stdout, \u0022Response from \u0060ActivationsAPI.AddActivationToAudience\u0060: %v\\n\u0022, resp.GetData())\n}"
          }
        ]
      }
    },
    "/spaces/{spaceId}/audiences/{id}/schedules": {
      "post": {
        "tags": [
          "Audiences"
        ],
        "summary": "Add Audience Schedule to Audience",
        "description": "The ability to configure the run schedule for an Audience is limited to Linked Audiences (audienceType = LINKED).\n\nNote that if a Linked Audience remains disabled for 90 days Segment will delete the associated schedule and a new schedule will need to be created.\n\n\u2022 In order to successfully call this endpoint, the specified Workspace needs to have the Audience feature enabled. Please reach out to your customer success manager for more information.\n\n\nThe rate limit for this endpoint is 50 requests per minute, which is lower than the default due to access pattern restrictions. Once reached, this endpoint will respond with the 429 HTTP status code with headers indicating the limit parameters. See [Rate Limiting](/#tag/Rate-Limits) for more information.",
        "operationId": "AddAudienceScheduleToAudience",
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "9aQ1Lj62S4bomZKLF4DPqW"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "aud_0ujsszwN8NRY24YaXiTIE2VWDTS"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAudienceScheduleToAudienceInput"
              },
              "example": {
                "strategy": "SPECIFIC_DAYS",
                "config": {
                  "days": [
                    1,
                    3,
                    5
                  ],
                  "hours": [
                    9,
                    17
                  ],
                  "timezone": "America/New_York"
                }
              }
            },
            "application/vnd.segment.v1\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/AddAudienceScheduleToAudienceInput"
              },
              "example": {
                "strategy": "SPECIFIC_DAYS",
                "config": {
                  "days": [
                    1,
                    3,
                    5
                  ],
                  "hours": [
                    9,
                    17
                  ],
                  "timezone": "America/New_York"
                }
              }
            },
            "application/vnd.segment.v1alpha\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/AddAudienceScheduleToAudienceAlphaInput"
              },
              "example": {
                "strategy": "SPECIFIC_DAYS",
                "config": {
                  "days": [
                    1,
                    3,
                    5
                  ],
                  "hours": [
                    9,
                    17
                  ],
                  "timezone": "America/New_York"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddAudienceScheduleToAudience200SegmentV1JsonResponse"
                },
                "example": {
                  "data": {
                    "audienceSchedule": {
                      "id": "sch_0ujsszwN8NRY24YaXiTIE2VWDTS",
                      "strategy": "SPECIFIC_DAYS",
                      "config": {
                        "days": [
                          1,
                          3,
                          5
                        ],
                        "hours": [
                          9,
                          17
                        ],
                        "timezone": "America/New_York"
                      },
                      "nextExecution": "2006-01-02T15:04:05.000Z"
                    }
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddAudienceScheduleToAudience200Response"
                },
                "example": {
                  "data": {
                    "audienceSchedule": {
                      "id": "sch_0ujsszwN8NRY24YaXiTIE2VWDTS",
                      "strategy": "SPECIFIC_DAYS",
                      "config": {
                        "days": [
                          1,
                          3,
                          5
                        ],
                        "hours": [
                          9,
                          17
                        ],
                        "timezone": "America/New_York"
                      },
                      "nextExecution": "2006-01-02T15:04:05.000Z"
                    }
                  }
                }
              },
              "application/vnd.segment.v1alpha\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddAudienceScheduleToAudience200SegmentV1AlphaJsonResponse"
                },
                "example": {
                  "data": {
                    "audienceSchedule": {
                      "id": "sch_0ujsszwN8NRY24YaXiTIE2VWDTS",
                      "strategy": "SPECIFIC_DAYS",
                      "config": {
                        "days": [
                          1,
                          3,
                          5
                        ],
                        "hours": [
                          9,
                          17
                        ],
                        "timezone": "America/New_York"
                      },
                      "nextExecution": "2006-01-02T15:04:05.000Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of whole seconds to wait before retrying. Sent when the request was rejected because the authentication token is rate limited. Prefer this over your own backoff schedule when present.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-domain-hierarchy": [
          "Engage",
          "Audiences"
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "import { configureApis, unwrap } from \u0027@segment/public-api-sdk-typescript\u0027\n\nconst api = configureApis(\u0027/* Insert your Public API token here */\u0027)\n\ntry {\n  const result = await unwrap(\n    api.audiences.addAudienceScheduleToAudience(\u00279aQ1Lj62S4bomZKLF4DPqW\u0027, \u0027aud_0ujsszwN8NRY24YaXiTIE2VWDTS\u0027, {\n      strategy: \u0027SPECIFIC_DAYS\u0027,\n      config: { days: [1, 3, 5], hours: [9, 17], timezone: \u0027America/New_York\u0027 },\n    })\n  )\n  console.log(JSON.stringify(result))\n} catch (e) {\n  console.log(\u0027ERROR:\u0027, e)\n}\n"
          },
          {
            "lang": "Java",
            "source": "// Import classes:\nimport com.segment.publicapi.ApiClient;\nimport com.segment.publicapi.ApiException;\nimport com.segment.publicapi.Configuration;\nimport com.segment.publicapi.auth.*;\nimport com.segment.publicapi.models.*;\nimport com.segment.publicapi.api.AudiencesApi;\n\npublic class Example {\n    public static void main(String[] args) {\n        ApiClient defaultClient = Configuration.getDefaultApiClient();\n        \n        // Configure HTTP bearer authorization: token\n        HttpBearerAuth token = (HttpBearerAuth) defaultClient.getAuthentication(\u0022token\u0022);\n        token.setBearerToken(\u0022BEARER TOKEN\u0022);\n\n        AudiencesApi apiInstance = new AudiencesApi(defaultClient);\n        String spaceId = \u00229aQ1Lj62S4bomZKLF4DPqW\u0022; // String | \n        String id = \u0022aud_0ujsszwN8NRY24YaXiTIE2VWDTS\u0022; // String | \n        AddAudienceScheduleToAudienceInput addAudienceScheduleToAudienceInput = new AddAudienceScheduleToAudienceInput(); // AddAudienceScheduleToAudienceInput | \n        try {\n            AddAudienceScheduleToAudience200Response result = apiInstance.addAudienceScheduleToAudience(spaceId, id, addAudienceScheduleToAudienceInput);\n            System.out.println(result);\n        } catch (ApiException e) {\n            System.err.println(\u0022Exception when calling AudiencesApi#addAudienceScheduleToAudience\u0022);\n            System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n            System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n            System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n            e.printStackTrace();\n        }\n    }\n}"
          },
          {
            "lang": "Python",
            "source": "import time\nimport os\nimport segment_public_api\nfrom segment_public_api.models.add_audience_schedule_to_audience200_response import AddAudienceScheduleToAudience200Response\nfrom segment_public_api.models.add_audience_schedule_to_audience_input import AddAudienceScheduleToAudienceInput\nfrom segment_public_api.rest import ApiException\nfrom pprint import pprint\n\n\n\n# Configure Bearer authorization: token\nconfiguration = segment_public_api.Configuration(\n    access_token = os.environ[\u0022BEARER_TOKEN\u0022]\n)\n# Enter a context with an instance of the API client\nwith segment_public_api.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = segment_public_api.AudiencesApi(api_client)\n    space_id = \u00279aQ1Lj62S4bomZKLF4DPqW\u0027 # str | \n    id = \u0027aud_0ujsszwN8NRY24YaXiTIE2VWDTS\u0027 # str | \n    add_audience_schedule_to_audience_input = {\u0022strategy\u0022:\u0022SPECIFIC_DAYS\u0022,\u0022config\u0022:{\u0022days\u0022:[1,3,5],\u0022hours\u0022:[9,17],\u0022timezone\u0022:\u0022America/New_York\u0022}} # AddAudienceScheduleToAudienceInput | \n\n    try:\n        # Add Audience Schedule to Audience\n        api_response = api_instance.add_audience_schedule_to_audience(space_id, id, add_audience_schedule_to_audience_input)\n        print(\u0022The response of AudiencesApi-\u003Eadd_audience_schedule_to_audience:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling AudiencesApi-\u003Eadd_audience_schedule_to_audience: %s\\n\u0022 % e)"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n    \u0022context\u0022\n    \u0022fmt\u0022\n    \u0022os\u0022\n    api \u0022github.com/segmentio/public-api-sdk-go\u0022\n)\n\nfunc main() {\n    spaceId := \u00229aQ1Lj62S4bomZKLF4DPqW\u0022 // string | \n    id := \u0022aud_0ujsszwN8NRY24YaXiTIE2VWDTS\u0022 // string | \n    addAudienceScheduleToAudienceInput := *api.NewAddAudienceScheduleToAudienceInput(\u0022Strategy_example\u0022, \u0022TODO\u0022) // AddAudienceScheduleToAudienceInput | \n\n    configuration := api.NewConfiguration()\n    apiClient := api.NewAPIClient(configuration)\n    token := \u0022\u003CBEARER_TOKEN\u003E\u0022\n    ctx := context.WithValue(context.Background(), api.ContextAccessToken, token)\n    resp, r, err := apiClient.AudiencesAPI.AddAudienceScheduleToAudience(ctx, spaceId, id).AddAudienceScheduleToAudienceInput(addAudienceScheduleToAudienceInput).Execute()\n    if err != nil {\n        fmt.Fprintf(os.Stderr, \u0022Error when calling \u0060AudiencesAPI.AddAudienceScheduleToAudience\u0060\u0060: %v\\n\u0022, err)\n        fmt.Fprintf(os.Stderr, \u0022Full HTTP response: %v\\n\u0022, r)\n        responseErrors := api.UnwrapFullErrors(err)\n        if responseErrors != nil {\n            for _, responseError := range responseErrors.Errors {\n                fmt.Fprintf(os.Stderr, \u0022Full error message: %v\\n\u0022, *responseError.Message)\n            }\n        }\n    }\n    // response from \u0060AddAudienceScheduleToAudience\u0060: AddAudienceScheduleToAudience200Response\n    fmt.Fprintf(os.Stdout, \u0022Response from \u0060AudiencesAPI.AddAudienceScheduleToAudience\u0060: %v\\n\u0022, resp.GetData())\n}"
          }
        ]
      },
      "get": {
        "tags": [
          "Audiences"
        ],
        "summary": "List Audience Schedules from Space And Audience",
        "description": "Returns the list of schedules for the given audience.\n\n\u2022 In order to successfully call this endpoint, the specified Workspace needs to have the Audience feature enabled. Please reach out to your customer success manager for more information.",
        "operationId": "ListAudienceSchedulesFromSpaceAndAudience",
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "9aQ1Lj62S4bomZKLF4DPqW"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "aud_0ujsszwN8NRY24YaXiTIE2VWDTS"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ListAudienceSchedulesFromSpaceAndAudience200SegmentV1JsonResponse"
                },
                "example": {
                  "data": {
                    "audienceSchedules": [
                      {
                        "id": "sch_0ujsszwN8NRY24YaXiTIE2VWDTS",
                        "strategy": "PERIODIC",
                        "config": {
                          "interval": "24h"
                        },
                        "nextExecution": "2006-01-02T15:04:05.000Z"
                      }
                    ]
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAudienceSchedulesFromSpaceAndAudience200Response"
                },
                "example": {
                  "data": {
                    "audienceSchedules": [
                      {
                        "id": "sch_0ujsszwN8NRY24YaXiTIE2VWDTS",
                        "strategy": "PERIODIC",
                        "config": {
                          "interval": "24h"
                        },
                        "nextExecution": "2006-01-02T15:04:05.000Z"
                      }
                    ]
                  }
                }
              },
              "application/vnd.segment.v1alpha\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ListAudienceSchedulesFromSpaceAndAudience200SegmentV1AlphaJsonResponse"
                },
                "example": {
                  "data": {
                    "audienceSchedules": [
                      {
                        "id": "sch_0ujsszwN8NRY24YaXiTIE2VWDTS",
                        "strategy": "PERIODIC",
                        "config": {
                          "interval": "24h"
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of whole seconds to wait before retrying. Sent when the request was rejected because the authentication token is rate limited. Prefer this over your own backoff schedule when present.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-domain-hierarchy": [
          "Engage",
          "Audiences"
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "import { configureApis, unwrap } from \u0027@segment/public-api-sdk-typescript\u0027\n\nconst api = configureApis(\u0027/* Insert your Public API token here */\u0027)\n\ntry {\n  const result = await unwrap(\n    api.audiences.listAudienceSchedulesFromSpaceAndAudience(\u00279aQ1Lj62S4bomZKLF4DPqW\u0027, \u0027aud_0ujsszwN8NRY24YaXiTIE2VWDTS\u0027)\n  )\n  console.log(JSON.stringify(result))\n} catch (e) {\n  console.log(\u0027ERROR:\u0027, e)\n}\n"
          },
          {
            "lang": "Java",
            "source": "// Import classes:\nimport com.segment.publicapi.ApiClient;\nimport com.segment.publicapi.ApiException;\nimport com.segment.publicapi.Configuration;\nimport com.segment.publicapi.auth.*;\nimport com.segment.publicapi.models.*;\nimport com.segment.publicapi.api.AudiencesApi;\n\npublic class Example {\n    public static void main(String[] args) {\n        ApiClient defaultClient = Configuration.getDefaultApiClient();\n        \n        // Configure HTTP bearer authorization: token\n        HttpBearerAuth token = (HttpBearerAuth) defaultClient.getAuthentication(\u0022token\u0022);\n        token.setBearerToken(\u0022BEARER TOKEN\u0022);\n\n        AudiencesApi apiInstance = new AudiencesApi(defaultClient);\n        String spaceId = \u00229aQ1Lj62S4bomZKLF4DPqW\u0022; // String | \n        String id = \u0022aud_0ujsszwN8NRY24YaXiTIE2VWDTS\u0022; // String | \n        try {\n            ListAudienceSchedulesFromSpaceAndAudience200Response result = apiInstance.listAudienceSchedulesFromSpaceAndAudience(spaceId, id);\n            System.out.println(result);\n        } catch (ApiException e) {\n            System.err.println(\u0022Exception when calling AudiencesApi#listAudienceSchedulesFromSpaceAndAudience\u0022);\n            System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n            System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n            System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n            e.printStackTrace();\n        }\n    }\n}"
          },
          {
            "lang": "Python",
            "source": "import time\nimport os\nimport segment_public_api\nfrom segment_public_api.models.list_audience_schedules_from_space_and_audience200_response import ListAudienceSchedulesFromSpaceAndAudience200Response\nfrom segment_public_api.rest import ApiException\nfrom pprint import pprint\n\n\n\n# Configure Bearer authorization: token\nconfiguration = segment_public_api.Configuration(\n    access_token = os.environ[\u0022BEARER_TOKEN\u0022]\n)\n# Enter a context with an instance of the API client\nwith segment_public_api.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = segment_public_api.AudiencesApi(api_client)\n    space_id = \u00279aQ1Lj62S4bomZKLF4DPqW\u0027 # str | \n    id = \u0027aud_0ujsszwN8NRY24YaXiTIE2VWDTS\u0027 # str | \n\n    try:\n        # List Audience Schedules from Space And Audience\n        api_response = api_instance.list_audience_schedules_from_space_and_audience(space_id, id)\n        print(\u0022The response of AudiencesApi-\u003Elist_audience_schedules_from_space_and_audience:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling AudiencesApi-\u003Elist_audience_schedules_from_space_and_audience: %s\\n\u0022 % e)"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n    \u0022context\u0022\n    \u0022fmt\u0022\n    \u0022os\u0022\n    api \u0022github.com/segmentio/public-api-sdk-go\u0022\n)\n\nfunc main() {\n    spaceId := \u00229aQ1Lj62S4bomZKLF4DPqW\u0022 // string | \n    id := \u0022aud_0ujsszwN8NRY24YaXiTIE2VWDTS\u0022 // string | \n\n    configuration := api.NewConfiguration()\n    apiClient := api.NewAPIClient(configuration)\n    token := \u0022\u003CBEARER_TOKEN\u003E\u0022\n    ctx := context.WithValue(context.Background(), api.ContextAccessToken, token)\n    resp, r, err := apiClient.AudiencesAPI.ListAudienceSchedulesFromSpaceAndAudience(ctx, spaceId, id).Execute()\n    if err != nil {\n        fmt.Fprintf(os.Stderr, \u0022Error when calling \u0060AudiencesAPI.ListAudienceSchedulesFromSpaceAndAudience\u0060\u0060: %v\\n\u0022, err)\n        fmt.Fprintf(os.Stderr, \u0022Full HTTP response: %v\\n\u0022, r)\n        responseErrors := api.UnwrapFullErrors(err)\n        if responseErrors != nil {\n            for _, responseError := range responseErrors.Errors {\n                fmt.Fprintf(os.Stderr, \u0022Full error message: %v\\n\u0022, *responseError.Message)\n            }\n        }\n    }\n    // response from \u0060ListAudienceSchedulesFromSpaceAndAudience\u0060: ListAudienceSchedulesFromSpaceAndAudience200Response\n    fmt.Fprintf(os.Stdout, \u0022Response from \u0060AudiencesAPI.ListAudienceSchedulesFromSpaceAndAudience\u0060: %v\\n\u0022, resp.GetData())\n}"
          }
        ]
      }
    },
    "/warehouses/{warehouseId}/connected-sources/{sourceId}": {
      "post": {
        "tags": [
          "Warehouses"
        ],
        "summary": "Add Connection from Source to Warehouse",
        "description": "Connects a Source to a Warehouse.\n\n\n\n\u2022 When called, this endpoint may generate the \u0060Storage Destination Modified\u0060 event in the [audit trail](/tag/Audit-Trail).\n      ",
        "operationId": "AddConnectionFromSourceToWarehouse",
        "parameters": [
          {
            "name": "warehouseId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "kjU72LCJexvrqL7G4TMHHN"
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "rh5BDZp6QDHvXFCkibm1pR"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/vnd.segment.v1\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddConnectionFromSourceToWarehouse201SegmentV1JsonResponse"
                },
                "example": {
                  "data": {
                    "status": "CONNECTED"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddConnectionFromSourceToWarehouse201Response"
                },
                "example": {
                  "data": {
                    "status": "CONNECTED"
                  }
                }
              },
              "application/vnd.segment.v1beta\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddConnectionFromSourceToWarehouse201SegmentV1BetaJsonResponse"
                },
                "example": {
                  "data": {
                    "status": "CONNECTED"
                  }
                }
              },
              "application/vnd.segment.v1alpha\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddConnectionFromSourceToWarehouse201SegmentV1AlphaJsonResponse"
                },
                "example": {
                  "data": {
                    "status": "CONNECTED"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of whole seconds to wait before retrying. Sent when the request was rejected because the authentication token is rate limited. Prefer this over your own backoff schedule when present.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-domain-hierarchy": [
          "Connections",
          "Warehouses"
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "import { configureApis, unwrap } from \u0027@segment/public-api-sdk-typescript\u0027\n\nconst api = configureApis(\u0027/* Insert your Public API token here */\u0027)\n\ntry {\n  const result = await unwrap(api.warehouses.addConnectionFromSourceToWarehouse(\u0027kjU72LCJexvrqL7G4TMHHN\u0027, \u0027rh5BDZp6QDHvXFCkibm1pR\u0027))\n  console.log(JSON.stringify(result))\n} catch (e) {\n  console.log(\u0027ERROR:\u0027, e)\n}\n"
          },
          {
            "lang": "Java",
            "source": "// Import classes:\nimport com.segment.publicapi.ApiClient;\nimport com.segment.publicapi.ApiException;\nimport com.segment.publicapi.Configuration;\nimport com.segment.publicapi.auth.*;\nimport com.segment.publicapi.models.*;\nimport com.segment.publicapi.api.WarehousesApi;\n\npublic class Example {\n    public static void main(String[] args) {\n        ApiClient defaultClient = Configuration.getDefaultApiClient();\n        \n        // Configure HTTP bearer authorization: token\n        HttpBearerAuth token = (HttpBearerAuth) defaultClient.getAuthentication(\u0022token\u0022);\n        token.setBearerToken(\u0022BEARER TOKEN\u0022);\n\n        WarehousesApi apiInstance = new WarehousesApi(defaultClient);\n        String warehouseId = \u0022kjU72LCJexvrqL7G4TMHHN\u0022; // String | \n        String sourceId = \u0022rh5BDZp6QDHvXFCkibm1pR\u0022; // String | \n        try {\n            AddConnectionFromSourceToWarehouse201Response result = apiInstance.addConnectionFromSourceToWarehouse(warehouseId, sourceId);\n            System.out.println(result);\n        } catch (ApiException e) {\n            System.err.println(\u0022Exception when calling WarehousesApi#addConnectionFromSourceToWarehouse\u0022);\n            System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n            System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n            System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n            e.printStackTrace();\n        }\n    }\n}"
          },
          {
            "lang": "Python",
            "source": "import time\nimport os\nimport segment_public_api\nfrom segment_public_api.models.add_connection_from_source_to_warehouse201_response import AddConnectionFromSourceToWarehouse201Response\nfrom segment_public_api.rest import ApiException\nfrom pprint import pprint\n\n\n\n# Configure Bearer authorization: token\nconfiguration = segment_public_api.Configuration(\n    access_token = os.environ[\u0022BEARER_TOKEN\u0022]\n)\n# Enter a context with an instance of the API client\nwith segment_public_api.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = segment_public_api.WarehousesApi(api_client)\n    warehouse_id = \u0027kjU72LCJexvrqL7G4TMHHN\u0027 # str | \n    source_id = \u0027rh5BDZp6QDHvXFCkibm1pR\u0027 # str | \n\n    try:\n        # Add Connection from Source to Warehouse\n        api_response = api_instance.add_connection_from_source_to_warehouse(warehouse_id, source_id)\n        print(\u0022The response of WarehousesApi-\u003Eadd_connection_from_source_to_warehouse:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling WarehousesApi-\u003Eadd_connection_from_source_to_warehouse: %s\\n\u0022 % e)"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n    \u0022context\u0022\n    \u0022fmt\u0022\n    \u0022os\u0022\n    api \u0022github.com/segmentio/public-api-sdk-go\u0022\n)\n\nfunc main() {\n    warehouseId := \u0022kjU72LCJexvrqL7G4TMHHN\u0022 // string | \n    sourceId := \u0022rh5BDZp6QDHvXFCkibm1pR\u0022 // string | \n\n    configuration := api.NewConfiguration()\n    apiClient := api.NewAPIClient(configuration)\n    token := \u0022\u003CBEARER_TOKEN\u003E\u0022\n    ctx := context.WithValue(context.Background(), api.ContextAccessToken, token)\n    resp, r, err := apiClient.WarehousesAPI.AddConnectionFromSourceToWarehouse(ctx, warehouseId, sourceId).Execute()\n    if err != nil {\n        fmt.Fprintf(os.Stderr, \u0022Error when calling \u0060WarehousesAPI.AddConnectionFromSourceToWarehouse\u0060\u0060: %v\\n\u0022, err)\n        fmt.Fprintf(os.Stderr, \u0022Full HTTP response: %v\\n\u0022, r)\n        responseErrors := api.UnwrapFullErrors(err)\n        if responseErrors != nil {\n            for _, responseError := range responseErrors.Errors {\n                fmt.Fprintf(os.Stderr, \u0022Full error message: %v\\n\u0022, *responseError.Message)\n            }\n        }\n    }\n    // response from \u0060AddConnectionFromSourceToWarehouse\u0060: AddConnectionFromSourceToWarehouse201Response\n    fmt.Fprintf(os.Stdout, \u0022Response from \u0060WarehousesAPI.AddConnectionFromSourceToWarehouse\u0060: %v\\n\u0022, resp.GetData())\n}"
          }
        ]
      },
      "delete": {
        "tags": [
          "Warehouses"
        ],
        "summary": "Remove Source Connection from Warehouse",
        "description": "Disconnects a Source from a Warehouse.",
        "operationId": "RemoveSourceConnectionFromWarehouse",
        "parameters": [
          {
            "name": "warehouseId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "kjU72LCJexvrqL7G4TMHHN"
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "rh5BDZp6QDHvXFCkibm1pR"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveSourceConnectionFromWarehouse200SegmentV1JsonResponse"
                },
                "example": {
                  "data": {
                    "status": "SUCCESS"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveSourceConnectionFromWarehouse200Response"
                },
                "example": {
                  "data": {
                    "status": "SUCCESS"
                  }
                }
              },
              "application/vnd.segment.v1beta\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveSourceConnectionFromWarehouse200SegmentV1BetaJsonResponse"
                },
                "example": {
                  "data": {
                    "status": "SUCCESS"
                  }
                }
              },
              "application/vnd.segment.v1alpha\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveSourceConnectionFromWarehouse200SegmentV1AlphaJsonResponse"
                },
                "example": {
                  "data": {
                    "status": "SUCCESS"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of whole seconds to wait before retrying. Sent when the request was rejected because the authentication token is rate limited. Prefer this over your own backoff schedule when present.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-domain-hierarchy": [
          "Connections",
          "Warehouses"
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "import { configureApis, unwrap } from \u0027@segment/public-api-sdk-typescript\u0027\n\nconst api = configureApis(\u0027/* Insert your Public API token here */\u0027)\n\ntry {\n  const result = await unwrap(api.warehouses.removeSourceConnectionFromWarehouse(\u0027kjU72LCJexvrqL7G4TMHHN\u0027, \u0027rh5BDZp6QDHvXFCkibm1pR\u0027))\n  console.log(JSON.stringify(result))\n} catch (e) {\n  console.log(\u0027ERROR:\u0027, e)\n}\n"
          },
          {
            "lang": "Java",
            "source": "// Import classes:\nimport com.segment.publicapi.ApiClient;\nimport com.segment.publicapi.ApiException;\nimport com.segment.publicapi.Configuration;\nimport com.segment.publicapi.auth.*;\nimport com.segment.publicapi.models.*;\nimport com.segment.publicapi.api.WarehousesApi;\n\npublic class Example {\n    public static void main(String[] args) {\n        ApiClient defaultClient = Configuration.getDefaultApiClient();\n        \n        // Configure HTTP bearer authorization: token\n        HttpBearerAuth token = (HttpBearerAuth) defaultClient.getAuthentication(\u0022token\u0022);\n        token.setBearerToken(\u0022BEARER TOKEN\u0022);\n\n        WarehousesApi apiInstance = new WarehousesApi(defaultClient);\n        String warehouseId = \u0022kjU72LCJexvrqL7G4TMHHN\u0022; // String | \n        String sourceId = \u0022rh5BDZp6QDHvXFCkibm1pR\u0022; // String | \n        try {\n            RemoveSourceConnectionFromWarehouse200Response result = apiInstance.removeSourceConnectionFromWarehouse(warehouseId, sourceId);\n            System.out.println(result);\n        } catch (ApiException e) {\n            System.err.println(\u0022Exception when calling WarehousesApi#removeSourceConnectionFromWarehouse\u0022);\n            System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n            System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n            System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n            e.printStackTrace();\n        }\n    }\n}"
          },
          {
            "lang": "Python",
            "source": "import time\nimport os\nimport segment_public_api\nfrom segment_public_api.models.remove_source_connection_from_warehouse200_response import RemoveSourceConnectionFromWarehouse200Response\nfrom segment_public_api.rest import ApiException\nfrom pprint import pprint\n\n\n\n# Configure Bearer authorization: token\nconfiguration = segment_public_api.Configuration(\n    access_token = os.environ[\u0022BEARER_TOKEN\u0022]\n)\n# Enter a context with an instance of the API client\nwith segment_public_api.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = segment_public_api.WarehousesApi(api_client)\n    warehouse_id = \u0027kjU72LCJexvrqL7G4TMHHN\u0027 # str | \n    source_id = \u0027rh5BDZp6QDHvXFCkibm1pR\u0027 # str | \n\n    try:\n        # Remove Source Connection from Warehouse\n        api_response = api_instance.remove_source_connection_from_warehouse(warehouse_id, source_id)\n        print(\u0022The response of WarehousesApi-\u003Eremove_source_connection_from_warehouse:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling WarehousesApi-\u003Eremove_source_connection_from_warehouse: %s\\n\u0022 % e)"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n    \u0022context\u0022\n    \u0022fmt\u0022\n    \u0022os\u0022\n    api \u0022github.com/segmentio/public-api-sdk-go\u0022\n)\n\nfunc main() {\n    warehouseId := \u0022kjU72LCJexvrqL7G4TMHHN\u0022 // string | \n    sourceId := \u0022rh5BDZp6QDHvXFCkibm1pR\u0022 // string | \n\n    configuration := api.NewConfiguration()\n    apiClient := api.NewAPIClient(configuration)\n    token := \u0022\u003CBEARER_TOKEN\u003E\u0022\n    ctx := context.WithValue(context.Background(), api.ContextAccessToken, token)\n    resp, r, err := apiClient.WarehousesAPI.RemoveSourceConnectionFromWarehouse(ctx, warehouseId, sourceId).Execute()\n    if err != nil {\n        fmt.Fprintf(os.Stderr, \u0022Error when calling \u0060WarehousesAPI.RemoveSourceConnectionFromWarehouse\u0060\u0060: %v\\n\u0022, err)\n        fmt.Fprintf(os.Stderr, \u0022Full HTTP response: %v\\n\u0022, r)\n        responseErrors := api.UnwrapFullErrors(err)\n        if responseErrors != nil {\n            for _, responseError := range responseErrors.Errors {\n                fmt.Fprintf(os.Stderr, \u0022Full error message: %v\\n\u0022, *responseError.Message)\n            }\n        }\n    }\n    // response from \u0060RemoveSourceConnectionFromWarehouse\u0060: RemoveSourceConnectionFromWarehouse200Response\n    fmt.Fprintf(os.Stdout, \u0022Response from \u0060WarehousesAPI.RemoveSourceConnectionFromWarehouse\u0060: %v\\n\u0022, resp.GetData())\n}"
          }
        ]
      }
    },
    "/spaces/{spaceId}/audiences/{audienceId}/destination-connections": {
      "post": {
        "tags": [
          "Activations"
        ],
        "summary": "Add Destination to Audience",
        "description": "Establishes a connection between an audience and a Destination. To start syncing data, you must create an Activation for the connection created here.\n\nNote that the Destination must be added to Engage through the Engage Settings page within the App before creating the connection through the API.\n\n\u2022 In order to successfully call this endpoint, the specified Workspace needs to have the Audience feature enabled. Please reach out to your customer success manager for more information.\n\n\nThe rate limit for this endpoint is 50 requests per minute, which is lower than the default due to access pattern restrictions. Once reached, this endpoint will respond with the 429 HTTP status code with headers indicating the limit parameters. See [Rate Limiting](/#tag/Rate-Limits) for more information.",
        "operationId": "AddDestinationToAudience",
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "spa_9aQ1Lj62S4bomZKLF4DPqW"
          },
          {
            "name": "audienceId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "aud_0ujsszwN8NRY24YaXiTIE2VWDTS"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.segment.v1alpha\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/AddDestinationToAudienceAlphaInput"
              },
              "example": {
                "destination": {
                  "id": "684758860892086596310ac",
                  "type": "destination"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1alpha\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddDestinationToAudience200SegmentV1AlphaJsonResponse"
                },
                "example": {
                  "data": {
                    "connection": {
                      "id": "ii_123456789"
                    },
                    "idSyncConfiguration": []
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of whole seconds to wait before retrying. Sent when the request was rejected because the authentication token is rate limited. Prefer this over your own backoff schedule when present.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-domain-hierarchy": [
          "Engage",
          "Audiences",
          "Activations"
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "import { configureApis, unwrap } from \u0027@segment/public-api-sdk-typescript\u0027\n\nconst api = configureApis(\u0027/* Insert your Public API token here */\u0027)\n\ntry {\n  const result = await unwrap(\n    api.activations.addDestinationToAudience(\u0027spa_9aQ1Lj62S4bomZKLF4DPqW\u0027, \u0027aud_0ujsszwN8NRY24YaXiTIE2VWDTS\u0027, {\n      destination: { id: \u0027684758860892086596310ac\u0027, type: \u0027destination\u0027 },\n    })\n  )\n  console.log(JSON.stringify(result))\n} catch (e) {\n  console.log(\u0027ERROR:\u0027, e)\n}\n"
          },
          {
            "lang": "Java",
            "source": "// Import classes:\nimport com.segment.publicapi.ApiClient;\nimport com.segment.publicapi.ApiException;\nimport com.segment.publicapi.Configuration;\nimport com.segment.publicapi.auth.*;\nimport com.segment.publicapi.models.*;\nimport com.segment.publicapi.api.ActivationsApi;\n\npublic class Example {\n    public static void main(String[] args) {\n        ApiClient defaultClient = Configuration.getDefaultApiClient();\n        \n        // Configure HTTP bearer authorization: token\n        HttpBearerAuth token = (HttpBearerAuth) defaultClient.getAuthentication(\u0022token\u0022);\n        token.setBearerToken(\u0022BEARER TOKEN\u0022);\n\n        ActivationsApi apiInstance = new ActivationsApi(defaultClient);\n        String spaceId = \u0022spa_9aQ1Lj62S4bomZKLF4DPqW\u0022; // String | \n        String audienceId = \u0022aud_0ujsszwN8NRY24YaXiTIE2VWDTS\u0022; // String | \n        AddDestinationToAudienceAlphaInput addDestinationToAudienceAlphaInput = new AddDestinationToAudienceAlphaInput(); // AddDestinationToAudienceAlphaInput | \n        try {\n            AddDestinationToAudience200Response result = apiInstance.addDestinationToAudience(spaceId, audienceId, addDestinationToAudienceAlphaInput);\n            System.out.println(result);\n        } catch (ApiException e) {\n            System.err.println(\u0022Exception when calling ActivationsApi#addDestinationToAudience\u0022);\n            System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n            System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n            System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n            e.printStackTrace();\n        }\n    }\n}"
          },
          {
            "lang": "Python",
            "source": "import time\nimport os\nimport segment_public_api\nfrom segment_public_api.models.add_destination_to_audience200_response import AddDestinationToAudience200Response\nfrom segment_public_api.models.add_destination_to_audience_alpha_input import AddDestinationToAudienceAlphaInput\nfrom segment_public_api.rest import ApiException\nfrom pprint import pprint\n\n\n\n# Configure Bearer authorization: token\nconfiguration = segment_public_api.Configuration(\n    access_token = os.environ[\u0022BEARER_TOKEN\u0022]\n)\n# Enter a context with an instance of the API client\nwith segment_public_api.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = segment_public_api.ActivationsApi(api_client)\n    space_id = \u0027spa_9aQ1Lj62S4bomZKLF4DPqW\u0027 # str | \n    audience_id = \u0027aud_0ujsszwN8NRY24YaXiTIE2VWDTS\u0027 # str | \n    add_destination_to_audience_alpha_input = {\u0022destination\u0022:{\u0022id\u0022:\u0022684758860892086596310ac\u0022,\u0022type\u0022:\u0022destination\u0022}} # AddDestinationToAudienceAlphaInput | \n\n    try:\n        # Add Destination to Audience\n        api_response = api_instance.add_destination_to_audience(space_id, audience_id, add_destination_to_audience_alpha_input)\n        print(\u0022The response of ActivationsApi-\u003Eadd_destination_to_audience:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling ActivationsApi-\u003Eadd_destination_to_audience: %s\\n\u0022 % e)"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n    \u0022context\u0022\n    \u0022fmt\u0022\n    \u0022os\u0022\n    api \u0022github.com/segmentio/public-api-sdk-go\u0022\n)\n\nfunc main() {\n    spaceId := \u0022spa_9aQ1Lj62S4bomZKLF4DPqW\u0022 // string | \n    audienceId := \u0022aud_0ujsszwN8NRY24YaXiTIE2VWDTS\u0022 // string | \n    addDestinationToAudienceAlphaInput := *api.NewAddDestinationToAudienceAlphaInput(*api.NewDestinationInput(\u0022Id_example\u0022, \u0022Type_example\u0022)) // AddDestinationToAudienceAlphaInput | \n\n    configuration := api.NewConfiguration()\n    apiClient := api.NewAPIClient(configuration)\n    token := \u0022\u003CBEARER_TOKEN\u003E\u0022\n    ctx := context.WithValue(context.Background(), api.ContextAccessToken, token)\n    resp, r, err := apiClient.ActivationsAPI.AddDestinationToAudience(ctx, spaceId, audienceId).AddDestinationToAudienceAlphaInput(addDestinationToAudienceAlphaInput).Execute()\n    if err != nil {\n        fmt.Fprintf(os.Stderr, \u0022Error when calling \u0060ActivationsAPI.AddDestinationToAudience\u0060\u0060: %v\\n\u0022, err)\n        fmt.Fprintf(os.Stderr, \u0022Full HTTP response: %v\\n\u0022, r)\n        responseErrors := api.UnwrapFullErrors(err)\n        if responseErrors != nil {\n            for _, responseError := range responseErrors.Errors {\n                fmt.Fprintf(os.Stderr, \u0022Full error message: %v\\n\u0022, *responseError.Message)\n            }\n        }\n    }\n    // response from \u0060AddDestinationToAudience\u0060: AddDestinationToAudience200Response\n    fmt.Fprintf(os.Stdout, \u0022Response from \u0060ActivationsAPI.AddDestinationToAudience\u0060: %v\\n\u0022, resp.GetData())\n}"
          }
        ]
      },
      "get": {
        "tags": [
          "Activations"
        ],
        "summary": "List Destinations from Audience",
        "description": "Lists all Destinations from an Audience.\n\n\u2022 In order to successfully call this endpoint, the specified Workspace needs to have the Audience feature enabled. Please reach out to your customer success manager for more information.\n\n\nThe rate limit for this endpoint is 50 requests per minute, which is lower than the default due to access pattern restrictions. Once reached, this endpoint will respond with the 429 HTTP status code with headers indicating the limit parameters. See [Rate Limiting](/#tag/Rate-Limits) for more information.",
        "operationId": "ListDestinationsFromAudience",
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "spa_9aQ1Lj62S4bomZKLF4DPqW"
          },
          {
            "name": "audienceId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "aud_0ujsszwN8NRY24YaXiTIE2VWDTS"
          },
          {
            "name": "pagination",
            "in": "query",
            "description": "Optional pagination.\n\nThis parameter exists in alpha.",
            "schema": {
              "$ref": "#/components/schemas/PaginationInput"
            },
            "example": "pagination.count=2"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1alpha\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ListDestinationsFromAudience200SegmentV1AlphaJsonResponse"
                },
                "example": {
                  "data": {
                    "connections": [
                      {
                        "id": "ii_123456789",
                        "name": "Test Connection 1",
                        "enabled": true,
                        "updatedAt": "2023-01-02T00:00:00Z",
                        "settings": {},
                        "destinationId": "684758860892086596310ac_1",
                        "metadata": {
                          "id": "1234567890abcdef1234567",
                          "name": "Test Destination",
                          "slug": "test-destination"
                        },
                        "idSyncConfiguration": [
                          {
                            "externalId": "email",
                            "strategy": "first"
                          },
                          {
                            "externalId": "phone",
                            "strategy": "all"
                          }
                        ],
                        "sourceId": "proj_123",
                        "createdAt": "2023-01-01T00:00:00Z"
                      },
                      {
                        "id": "ii_another456",
                        "name": "Test Connection 2",
                        "enabled": false,
                        "updatedAt": "2023-01-04T00:00:00Z",
                        "settings": {},
                        "destinationId": "684758860892086596310ac_2",
                        "metadata": {
                          "id": "684758860892086596310ad",
                          "name": "Another Destination",
                          "slug": "another-destination"
                        },
                        "sourceId": "proj_123",
                        "createdAt": "2023-01-03T00:00:00Z"
                      }
                    ],
                    "pagination": {
                      "next": null,
                      "current": "first_page"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of whole seconds to wait before retrying. Sent when the request was rejected because the authentication token is rate limited. Prefer this over your own backoff schedule when present.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-domain-hierarchy": [
          "Engage",
          "Audiences",
          "Activations"
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "import { configureApis, unwrap } from \u0027@segment/public-api-sdk-typescript\u0027\n\nconst api = configureApis(\u0027/* Insert your Public API token here */\u0027)\n\ntry {\n  const result = await unwrap(api.activations.listDestinationsFromAudience(\u0027spa_9aQ1Lj62S4bomZKLF4DPqW\u0027, \u0027aud_0ujsszwN8NRY24YaXiTIE2VWDTS\u0027))\n  console.log(JSON.stringify(result))\n} catch (e) {\n  console.log(\u0027ERROR:\u0027, e)\n}\n"
          },
          {
            "lang": "Java",
            "source": "// Import classes:\nimport com.segment.publicapi.ApiClient;\nimport com.segment.publicapi.ApiException;\nimport com.segment.publicapi.Configuration;\nimport com.segment.publicapi.auth.*;\nimport com.segment.publicapi.models.*;\nimport com.segment.publicapi.api.ActivationsApi;\n\npublic class Example {\n    public static void main(String[] args) {\n        ApiClient defaultClient = Configuration.getDefaultApiClient();\n        \n        // Configure HTTP bearer authorization: token\n        HttpBearerAuth token = (HttpBearerAuth) defaultClient.getAuthentication(\u0022token\u0022);\n        token.setBearerToken(\u0022BEARER TOKEN\u0022);\n\n        ActivationsApi apiInstance = new ActivationsApi(defaultClient);\n        String spaceId = \u0022spa_9aQ1Lj62S4bomZKLF4DPqW\u0022; // String | \n        String audienceId = \u0022aud_0ujsszwN8NRY24YaXiTIE2VWDTS\u0022; // String | \n        PaginationInput pagination = new PaginationInput(); // PaginationInput | Optional pagination.  This parameter exists in alpha.\n        try {\n            ListDestinationsFromAudience200Response result = apiInstance.listDestinationsFromAudience(spaceId, audienceId, pagination);\n            System.out.println(result);\n        } catch (ApiException e) {\n            System.err.println(\u0022Exception when calling ActivationsApi#listDestinationsFromAudience\u0022);\n            System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n            System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n            System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n            e.printStackTrace();\n        }\n    }\n}"
          },
          {
            "lang": "Python",
            "source": "import time\nimport os\nimport segment_public_api\nfrom segment_public_api.models.list_destinations_from_audience200_response import ListDestinationsFromAudience200Response\nfrom segment_public_api.models.pagination_input import PaginationInput\nfrom segment_public_api.rest import ApiException\nfrom pprint import pprint\n\n\n\n# Configure Bearer authorization: token\nconfiguration = segment_public_api.Configuration(\n    access_token = os.environ[\u0022BEARER_TOKEN\u0022]\n)\n# Enter a context with an instance of the API client\nwith segment_public_api.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = segment_public_api.ActivationsApi(api_client)\n    space_id = \u0027spa_9aQ1Lj62S4bomZKLF4DPqW\u0027 # str | \n    audience_id = \u0027aud_0ujsszwN8NRY24YaXiTIE2VWDTS\u0027 # str | \n    pagination = segment_public_api.PaginationInput(count=10) # PaginationInput | Optional pagination.  This parameter exists in alpha. (optional)\n\n    try:\n        # List Destinations from Audience\n        api_response = api_instance.list_destinations_from_audience(space_id, audience_id, pagination=pagination)\n        print(\u0022The response of ActivationsApi-\u003Elist_destinations_from_audience:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling ActivationsApi-\u003Elist_destinations_from_audience: %s\\n\u0022 % e)"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n    \u0022context\u0022\n    \u0022fmt\u0022\n    \u0022os\u0022\n    api \u0022github.com/segmentio/public-api-sdk-go\u0022\n)\n\nfunc main() {\n    spaceId := \u0022spa_9aQ1Lj62S4bomZKLF4DPqW\u0022 // string | \n    audienceId := \u0022aud_0ujsszwN8NRY24YaXiTIE2VWDTS\u0022 // string | \n    pagination := *api.NewPaginationInput(10) // PaginationInput | Optional pagination.  This parameter exists in alpha. (optional)\n\n    configuration := api.NewConfiguration()\n    apiClient := api.NewAPIClient(configuration)\n    token := \u0022\u003CBEARER_TOKEN\u003E\u0022\n    ctx := context.WithValue(context.Background(), api.ContextAccessToken, token)\n    resp, r, err := apiClient.ActivationsAPI.ListDestinationsFromAudience(ctx, spaceId, audienceId).Pagination(pagination).Execute()\n    if err != nil {\n        fmt.Fprintf(os.Stderr, \u0022Error when calling \u0060ActivationsAPI.ListDestinationsFromAudience\u0060\u0060: %v\\n\u0022, err)\n        fmt.Fprintf(os.Stderr, \u0022Full HTTP response: %v\\n\u0022, r)\n        responseErrors := api.UnwrapFullErrors(err)\n        if responseErrors != nil {\n            for _, responseError := range responseErrors.Errors {\n                fmt.Fprintf(os.Stderr, \u0022Full error message: %v\\n\u0022, *responseError.Message)\n            }\n        }\n    }\n    // response from \u0060ListDestinationsFromAudience\u0060: ListDestinationsFromAudience200Response\n    fmt.Fprintf(os.Stdout, \u0022Response from \u0060ActivationsAPI.ListDestinationsFromAudience\u0060: %v\\n\u0022, resp.GetData())\n}"
          }
        ]
      }
    },
    "/sources/{sourceId}/labels": {
      "post": {
        "tags": [
          "Sources"
        ],
        "summary": "Add Labels to Source",
        "description": "Adds an existing label to a Source.\n\n\n\n\u2022 When called, this endpoint may generate the \u0060Source Modified\u0060 event in the [audit trail](/tag/Audit-Trail).\n      ",
        "operationId": "AddLabelsToSource",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "rh5BDZp6QDHvXFCkibm1pR"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddLabelsToSourceV1Input"
              },
              "example": {
                "labels": [
                  {
                    "key": "type",
                    "value": "web"
                  }
                ]
              }
            },
            "application/vnd.segment.v1\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/AddLabelsToSourceV1Input"
              },
              "example": {
                "labels": [
                  {
                    "key": "type",
                    "value": "web"
                  }
                ]
              }
            },
            "application/vnd.segment.v1beta\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/AddLabelsToSourceV1Input"
              },
              "example": {
                "labels": [
                  {
                    "key": "type",
                    "value": "web"
                  }
                ]
              }
            },
            "application/vnd.segment.v1alpha\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/AddLabelsToSourceAlphaInput"
              },
              "example": {
                "labels": [
                  {
                    "key": "type",
                    "value": "web"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddLabelsToSource200SegmentV1JsonResponse"
                },
                "example": {
                  "data": {
                    "labels": [
                      {
                        "key": "type",
                        "value": "web"
                      },
                      {
                        "key": "environment",
                        "value": "prod"
                      }
                    ]
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddLabelsToSource200Response"
                },
                "example": {
                  "data": {
                    "labels": [
                      {
                        "key": "type",
                        "value": "web"
                      },
                      {
                        "key": "environment",
                        "value": "prod"
                      }
                    ]
                  }
                }
              },
              "application/vnd.segment.v1beta\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddLabelsToSource200SegmentV1BetaJsonResponse"
                },
                "example": {
                  "data": {
                    "labels": [
                      {
                        "key": "type",
                        "value": "web"
                      },
                      {
                        "key": "environment",
                        "value": "prod"
                      }
                    ]
                  }
                }
              },
              "application/vnd.segment.v1alpha\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/AddLabelsToSource200SegmentV1AlphaJsonResponse"
                },
                "example": {
                  "data": {
                    "labels": [
                      {
                        "key": "type",
                        "value": "web"
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of whole seconds to wait before retrying. Sent when the request was rejected because the authentication token is rate limited. Prefer this over your own backoff schedule when present.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "RateLimited",
                      "message": "Rate limit exceeded"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-domain-hierarchy": [
          "Connections",
          "Sources"
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "source": "import { configureApis, unwrap } from \u0027@segment/public-api-sdk-typescript\u0027\n\nconst api = configureApis(\u0027/* Insert your Public API token here */\u0027)\n\ntry {\n  const result = await unwrap(api.sources.addLabelsToSource(\u0027rh5BDZp6QDHvXFCkibm1pR\u0027, { labels: [{ key: \u0027type\u0027, value: \u0027web\u0027 }] }))\n  console.log(JSON.stringify(result))\n} catch (e) {\n  console.log(\u0027ERROR:\u0027, e)\n}\n"
          },
          {
            "lang": "Java",
            "source": "// Import classes:\nimport com.segment.publicapi.ApiClient;\nimport com.segment.publicapi.ApiException;\nimport com.segment.publicapi.Configuration;\nimport com.segment.publicapi.auth.*;\nimport com.segment.publicapi.models.*;\nimport com.segment.publicapi.api.SourcesApi;\n\npublic class Example {\n    public static void main(String[] args) {\n        ApiClient defaultClient = Configuration.getDefaultApiClient();\n        \n        // Configure HTTP bearer authorization: token\n        HttpBearerAuth token = (HttpBearerAuth) defaultClient.getAuthentication(\u0022token\u0022);\n        token.setBearerToken(\u0022BEARER TOKEN\u0022);\n\n        SourcesApi apiInstance = new SourcesApi(defaultClient);\n        String sourceId = \u0022rh5BDZp6QDHvXFCkibm1pR\u0022; // String | \n        AddLabelsToSourceV1Input addLabelsToSourceV1Input = new AddLabelsToSourceV1Input(); // AddLabelsToSourceV1Input | \n        try {\n            AddLabelsToSource200Response result = apiInstance.addLabelsToSource(sourceId, addLabelsToSourceV1Input);\n            System.out.println(result);\n        } catch (ApiException e) {\n            System.err.println(\u0022Exception when calling SourcesApi#addLabelsToSource\u0022);\n            System.err.println(\u0022Status code: \u0022 \u002B e.getCode());\n            System.err.println(\u0022Reason: \u0022 \u002B e.getResponseBody());\n            System.err.println(\u0022Response headers: \u0022 \u002B e.getResponseHeaders());\n            e.printStackTrace();\n        }\n    }\n}"
          },
          {
            "lang": "Python",
            "source": "import time\nimport os\nimport segment_public_api\nfrom segment_public_api.models.add_labels_to_source200_response import AddLabelsToSource200Response\nfrom segment_public_api.models.add_labels_to_source_v1_input import AddLabelsToSourceV1Input\nfrom segment_public_api.rest import ApiException\nfrom pprint import pprint\n\n\n\n# Configure Bearer authorization: token\nconfiguration = segment_public_api.Configuration(\n    access_token = os.environ[\u0022BEARER_TOKEN\u0022]\n)\n# Enter a context with an instance of the API client\nwith segment_public_api.ApiClient(configuration) as api_client:\n    # Create an instance of the API class\n    api_instance = segment_public_api.SourcesApi(api_client)\n    source_id = \u0027rh5BDZp6QDHvXFCkibm1pR\u0027 # str | \n    add_labels_to_source_v1_input = {\u0022labels\u0022:[{\u0022key\u0022:\u0022type\u0022,\u0022value\u0022:\u0022web\u0022}]} # AddLabelsToSourceV1Input | \n\n    try:\n        # Add Labels to Source\n        api_response = api_instance.add_labels_to_source(source_id, add_labels_to_source_v1_input)\n        print(\u0022The response of SourcesApi-\u003Eadd_labels_to_source:\\n\u0022)\n        pprint(api_response)\n    except Exception as e:\n        print(\u0022Exception when calling SourcesApi-\u003Eadd_labels_to_source: %s\\n\u0022 % e)"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n    \u0022context\u0022\n    \u0022fmt\u0022\n    \u0022os\u0022\n    api \u0022github.com/segmentio/public-api-sdk-go\u0022\n)\n\nfunc main() {\n    sourceId := \u0022rh5BDZp6QDHvXFCkibm1pR\u0022 // string | \n    addLabelsToSourceV1Input := *api.NewAddLabelsToSourceV1Input([]api.LabelV1{*api.NewLabelV1(\u0022Key_example\u0022, \u0022Value_example\u0022)}) // AddLabelsToSourceV1Input | \n\n    configuration := api.NewConfiguration()\n    apiClient := api.NewAPIClient(configuration)\n    token := \u0022\u003CBEARER_TOKEN\u003E\u0022\n    ctx := context.WithValue(context.Background(), api.ContextAccessToken, token)\n    resp, r, err := apiClient.SourcesAPI.AddLabelsToSource(ctx, sourceId).AddLabelsToSourceV1Input(addLabelsToSourceV1Input).Execute()\n    if err != nil {\n        fmt.Fprintf(os.Stderr, \u0022Error when calling \u0060SourcesAPI.AddLabelsToSource\u0060\u0060: %v\\n\u0022, err)\n        fmt.Fprintf(os.Stderr, \u0022Full HTTP response: %v\\n\u0022, r)\n        responseErrors := api.UnwrapFullErrors(err)\n        if responseErrors != nil {\n            for _, responseError := range responseErrors.Errors {\n                fmt.Fprintf(os.Stderr, \u0022Full error message: %v\\n\u0022, *responseError.Message)\n            }\n        }\n    }\n    // response from \u0060AddLabelsToSource\u0060: AddLabelsToSource200Response\n    fmt.Fprintf(os.Stdout, \u0022Response from \u0060SourcesAPI.AddLabelsToSource\u0060: %v\\n\u0022, resp.GetData())\n}"
          }
        ]
      },
      "put": {
        "tags": [
          "Sources"
        ],
        "summary": "Replace Labels in Source",
        "description": "Replaces all labels in a Source.",
        "operationId": "ReplaceLabelsInSource",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 255,
              "minimum": 1,
              "type": "string"
            },
            "example": "rh5BDZp6QDHvXFCkibm1pR"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceLabelsInSourceV1Input"
              },
              "example": {
                "labels": [
                  {
                    "key": "environment",
                    "value": "prod"
                  }
                ]
              }
            },
            "application/vnd.segment.v1\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceLabelsInSourceV1Input"
              },
              "example": {
                "labels": [
                  {
                    "key": "environment",
                    "value": "prod"
                  }
                ]
              }
            },
            "application/vnd.segment.v1beta\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceLabelsInSourceV1Input"
              },
              "example": {
                "labels": [
                  {
                    "key": "environment",
                    "value": "prod"
                  }
                ]
              }
            },
            "application/vnd.segment.v1alpha\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceLabelsInSourceAlphaInput"
              },
              "example": {
                "labels": [
                  {
                    "key": "environment",
                    "value": "prod"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.segment.v1\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceLabelsInSource200SegmentV1JsonResponse"
                },
                "example": {
                  "data": {
                    "labels": [
                      {
                        "key": "environment",
                        "value": "prod"
                      }
                    ]
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceLabelsInSource200Response"
                },
                "example": {
                  "data": {
                    "labels": [
                      {
                        "key": "environment",
                        "value": "prod"
                      }
                    ]
                  }
                }
              },
              "application/vnd.segment.v1beta\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceLabelsInSource200SegmentV1BetaJsonResponse"
                },
                "example": {
                  "data": {
                    "labels": [
                      {
                        "key": "environment",
                        "value": "prod"
                      }
                    ]
                  }
                }
              },
              "application/vnd.segment.v1alpha\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceLabelsInSource200SegmentV1AlphaJsonResponse"
                },
                "example": {
                  "data": {
                    "labels": [
                      {
                        "key": "environment",
                        "value": "prod"
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "NotFound",
                      "message": "Resource not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorEnvelope"
                },
                "example": {
                  "errors": [
                    {
                      "type": "ValidationFailure",
                      "message": "Validation failure"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of whole seconds to wait before retrying. Sent when the request was rejected because the authentication token is rate limited. Prefer this over your own backoff schedule when present.",
[...]
